Repository NREL/OpenStudio, pull requests merged in 2020-09, with the labels that each got.

#4008 #1906 - Use sqlite3_bind* to ensure proper escaping of parameters such as Zone Names etc
  src/lib/CMakeLists.txt
  src/model/AirflowNetworkSimulationControl.cpp
  src/model/ModelObject.cpp
  src/model/PlanarSurface.cpp
  src/model/SizingSystem.cpp
  src/model/SizingZone.cpp
  src/model/SubSurface.cpp
  src/model/Surface.cpp
  src/model/ThermalZone.cpp
  src/utilities/sql/CMakeLists.txt
  src/utilities/sql/PreparedStatement.hpp
  src/utilities/sql/SqlFile.cpp
  src/utilities/sql/SqlFile.hpp
  src/utilities/sql/SqlFile_Impl.cpp
  src/utilities/sql/SqlFile_Impl.hpp
  src/utilities/sql/Test/SqlFile_GTest.cpp
Labels: Pull Request - Ready for CI, component - Utilities Other

#4065 Fix AVMList clone between different models
  src/model/AvailabilityManagerAssignmentList.cpp
  src/model/AvailabilityManagerAssignmentList.hpp
  src/model/test/AirLoopHVAC_GTest.cpp
  src/model/test/PlantLoop_GTest.cpp
Labels: Pull Request - Ready for CI, component - Model, severity - Major Bug

#4072 Fix #4064 - RunPeriodControlSpecialDays are not Forward Translated
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ReverseTranslator.cpp
  src/energyplus/Test/RunPeriodControlSpecialDays_GTest.cpp
  src/model/RunPeriodControlSpecialDays.cpp
  src/model/test/RunPeriodControlSpecialDays_GTest.cpp
Labels: Pull Request - Ready for CI, component - IDF Translation

#4071 Updating openstudo-gems for 3.1.0 release
  CMakeLists.txt
Labels: Enhancement Request, Pull Request - Ready for CI, component - CLI

#4080 Fix #4079 - Install E+ pythonwrapper lib
  CMakeLists.txt
Labels: Pull Request - Ready for CI, component - Installer/Platform, severity - Blocker

#4068 Unset ruby envs in openstudio_cli.rb
  src/cli/openstudio_cli.rb
Labels: Pull Request - Ready for CI, component - CLI, severity - Minor Bug

#4086 Fix #4084 - Maintain backward compatibility in SubSurface::setShadingControl including with C++ interfaces
  src/model/SubSurface.cpp
  src/model/SubSurface.hpp
Labels: Pull Request - Ready for CI, component - Model

#4088 4008 hotfix for Sql queries
  src/utilities/sql/SqlFile_Impl.cpp
Labels: Pull Request - Ready for CI, component - Utilities Other

#4098 Update OutputControl:Files
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateOutputControlFiles.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateOutputControlFiles.cpp
  src/energyplus/Test/OutputControlFiles_GTest.cpp
  src/model/OutputControlFiles.cpp
  src/model/OutputControlFiles.hpp
  src/model/OutputControlFiles_Impl.hpp
  src/model/test/OutputControlFiles_GTest.cpp
Labels: Pull Request - Ready for CI, component - Model

#4095 Update to E+ v9.4.0-RC11
  CMakeLists.txt
  ConanInstall.cmake
  resources/energyplus/ProposedEnergy+.idd
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateOutputControlFiles.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateOutputControlFiles.cpp
  src/energyplus/Test/OutputControlFiles_GTest.cpp
  src/model/OutputControlFiles.cpp
  src/model/OutputControlFiles.hpp
  src/model/OutputControlFiles_Impl.hpp
  src/model/test/OutputControlFiles_GTest.cpp
  src/utilities/sql/Test/IlluminanceMap_GTest.cpp
  src/utilities/sql/Test/SqlFile_GTest.cpp
Labels: Pull Request - Ready for CI

#4093 #4091 - Update FuelType/EndUseFuelType (and Sql) to match E+ 9.4.0
  resources/CMakeLists.txt
  resources/energyplus/AllFuelTypes/generate.rb
  resources/energyplus/AllFuelTypes/in.idf
  resources/energyplus/RefLargeOffice/RefBldgLargeOfficeNew2004_Chicago.idf
  resources/model/OpenStudio.idd
  src/energyplus/EnergyPlus.qrc
  src/energyplus/ForwardTranslator/ForwardTranslateLifeCycleCostParameters.cpp
  src/model/LifeCycleCostParameters.cpp
  src/model/LifeCycleCostParameters.hpp
  src/model/LifeCycleCostParameters_Impl.hpp
  src/model/OutputMeter.cpp
  src/model/UtilityBill.cpp
  src/sdd/ReverseTranslator.cpp
  src/utilities/data/DataEnums.hpp
  src/utilities/sql/SqlFile_Impl.cpp
  src/utilities/sql/Test/SqlFile_GTest.cpp
Labels: IDDChange, component - Model, component - Utilities Other, severity - Blocker

#4104 Fix #4102 - Fuel Type Renames in EMS Actuator Names
  src/energyplus/Test/EMS_GTest.cpp
  src/model/ElectricEquipment.cpp
  src/model/ElectricEquipmentDefinition.cpp
  src/model/GasEquipment.cpp
  src/model/GasEquipmentDefinition.cpp
  src/model/Lights.cpp
  src/model/LightsDefinition.cpp
  src/model/test/EnergyManagementSystemActuator_GTest.cpp
  src/model/test/ExternalInterfaceActuator_GTest.cpp
  src/model/test/ExternalInterfaceFunctionalMockupUnitExportToActuator_GTest.cpp
  src/model/test/ExternalInterfaceFunctionalMockupUnitImportToActuator_GTest.cpp
Labels: Pull Request - Ready for CI, component - Model
