Repository NREL/OpenStudio, pull requests merged in 2020-02, with the labels that each got.

#3869 Add two issue templates: one for bug, one of enhancement request
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement_request.md
Labels: Developer Issue

#3853 Addresses #320, serious bug in MasslessOpaqueMaterial, try 3
  src/isomodel/ForwardTranslator.cpp
  src/model/MasslessOpaqueMaterial.cpp
  src/model/MasslessOpaqueMaterial.hpp
  src/model/MasslessOpaqueMaterial_Impl.hpp
Labels: Pull Request - Ready for CI, component - Model, severity - Major Bug

#3857 Addresses #3460, reverse translation of WindowMaterial:Glazing sets Optical Data type field incorrectly
  src/energyplus/CMakeLists.txt
  src/energyplus/ReverseTranslator.cpp
  src/energyplus/ReverseTranslator.hpp
  src/energyplus/ReverseTranslator/ReverseTranslateMaterialPropertyGlazingSpectralData.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateWindowMaterialGlazing.cpp
  src/energyplus/Test/ReverseTranslator_GTest.cpp
  src/energyplus/Test/StandardGlazing_GTest.cpp
  src/model/test/StandardGlazing_GTest.cpp
Labels: Pull Request - Ready for CI, component - IDF Translation, severity - Normal Bug

#3858 Addresses #3216, wrong OS:Daylighting:Control rotation angle translated
  src/energyplus/ForwardTranslator/ForwardTranslateThermalZone.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateDaylightingControls.cpp
  src/energyplus/Test/DaylightingControl_GTest.cpp
  src/energyplus/Test/ReverseTranslator_GTest.cpp
  src/energyplus/Test/ThermalZone_GTest.cpp
Labels: component - Model, component - Utilities Geometry, severity - Normal Bug

#3875 Fix #3872 - Add OutputDiagnostics, OutputDebuggingData and OutputJSON to model SDK
  resources/energyplus/ProposedEnergy+.idd
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateOutputDebuggingData.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateOutputDiagnostics.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateOutputJSON.cpp
  src/energyplus/ReverseTranslator.cpp
  src/energyplus/ReverseTranslator.hpp
  src/energyplus/ReverseTranslator/ReverseTranslateOutputDebuggingData.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateOutputDiagnostics.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateOutputJSON.cpp
  src/energyplus/Test/OutputDebuggingData_GTest.cpp
  src/energyplus/Test/OutputDiagnostics_GTest.cpp
  src/energyplus/Test/OutputJSON_GTest.cpp
  src/model/CMakeLists.txt
  src/model/ConcreteModelObjects.hpp
  src/model/Model.cpp
  src/model/ModelSimulation.i
  src/model/OutputDebuggingData.cpp
  src/model/OutputDebuggingData.hpp
  src/model/OutputDebuggingData_Impl.hpp
  src/model/OutputDiagnostics.cpp
  src/model/OutputDiagnostics.hpp
  src/model/OutputDiagnostics_Impl.hpp
  src/model/OutputJSON.cpp
  src/model/OutputJSON.hpp
  src/model/OutputJSON_Impl.hpp
  src/model/test/OutputDebuggingData_GTest.cpp
  src/model/test/OutputDiagnostics_GTest.cpp
  src/model/test/OutputJSON_GTest.cpp
Labels: Enhancement Request, IDDChange, Pull Request - Ready for CI, component - Model

#3873 Sdk merge
  CMakeLists.txt
  ProjectMacros.cmake
  csharp/CMakeLists.txt
  ruby/CMakeLists.txt
  src/airflow/AirflowAPI.hpp
  src/airflow/CMakeLists.txt
  src/cli/CMakeLists.txt
  src/energyplus/CMakeLists.txt
  src/energyplus/EnergyPlusAPI.hpp
  src/gbxml/CMakeLists.txt
  src/gbxml/gbXMLAPI.hpp
  src/isomodel/CMakeLists.txt
  src/isomodel/ISOModelAPI.hpp
  src/lib/CMakeLists.txt
  src/lib/empty.cpp
  src/measure/CMakeLists.txt
  src/measure/MeasureAPI.hpp
  src/measure/OSArgument.hpp
  src/model/AirflowNetworkDuctViewFactors.hpp
  src/model/CMakeLists.txt
  src/model/FanSystemModel.hpp
  src/model/FloorplanJSForwardTranslator.hpp
  src/model/FoundationKiva.hpp
  src/model/GeneratorFuelCellAirSupply.hpp
  src/model/GeneratorFuelSupply.hpp
  src/model/Model.hpp
  src/model/ModelAPI.hpp
  src/model/ModelMerger.hpp
  src/model/SpaceType.cpp
  src/model/SpaceType.hpp
  src/model/SpaceType_Impl.hpp
  src/model/TableMultiVariableLookup.hpp
  src/model/ThreeJSForwardTranslator.hpp
  src/model/ThreeJSReverseTranslator.hpp
  src/model/ZonePropertyUserViewFactorsBySurfaceName.hpp
  src/model/test/AirTerminalDualDuctConstantVolume_GTest.cpp
  src/model/test/BuildingStory_GTest.cpp
  src/osversion/CMakeLists.txt
  src/osversion/OSVersionAPI.hpp
  src/osversion/VersionTranslator.hpp
  src/radiance/CMakeLists.txt
  src/radiance/RadianceAPI.hpp
  src/sdd/CMakeLists.txt
  src/sdd/SDDAPI.hpp
  src/utilities/CMakeLists.txt
  src/utilities/UtilitiesAPI.hpp
  src/utilities/core/test/ApplicationPathHelpers_GTest.cpp
  src/utilities/data/Attribute.hpp
  src/utilities/geometry/RoofGeometry.cpp
  src/utilities/geometry/RoofGeometry_Details.hpp
  src/utilities/geometry/Test/RoofGeometry_GTest.cpp
  src/utilities/pch/CMakeLists.txt
  src/utilities/pch/PCH.hpp.gcc.in
  src/utilities/pch/PCH.hpp.msvc.in
Labels: Pull Request - Ready for CI

#3877 Clean, parallel, tests for ci
  CMakeLists.txt
  Jenkinsfile_develop
  ruby/CMakeLists.txt
  src/airflow/Test/AirflowFixture.cpp
  src/airflow/Test/AirflowFixture.hpp
  src/cli/test/bundle_git/Gemfile
  src/cli/test/bundle_git/test.rb
  src/cli/test/test_embedded_ruby.rb
  src/energyplus/ErrorFile.cpp
  src/energyplus/Test/EnergyPlusFixture.cpp
  src/energyplus/Test/EnergyPlusFixture.hpp
  src/energyplus/Test/ErrorFile_GTest.cpp
  src/gbxml/Test/gbXMLFixture.cpp
  src/gbxml/Test/gbXMLFixture.hpp
  src/isomodel/Test/ISOModelFixture.cpp
  src/isomodel/Test/ISOModelFixture.hpp
  src/measure/test/MeasureFixture.cpp
  src/measure/test/MeasureFixture.hpp
  src/model/test/ConstructionAirBoundary_GTest.cpp
  src/model/test/FanSystemModel_GTest.cpp
  src/model/test/ModelFixture.cpp
  src/model/test/ModelFixture.hpp
  src/osversion/test/OSVersionFixture.cpp
  src/osversion/test/OSVersionFixture.hpp
  src/radiance/Test/AnnualIlluminanceMap_GTest.cpp
  src/radiance/Test/IlluminanceMap_GTest.cpp
  src/sdd/Test/SDDFixture.cpp
  src/sdd/Test/SDDFixture.hpp
  src/utilities/bcl/LocalBCL.cpp
  src/utilities/bcl/LocalBCL.hpp
  src/utilities/bcl/test/BCLFixture.cpp
  src/utilities/bcl/test/BCLFixture.hpp
  src/utilities/core/test/CoreFixture.cpp
  src/utilities/core/test/CoreFixture.hpp
  src/utilities/data/Test/DataFixture.cpp
  src/utilities/data/Test/DataFixture.hpp
  src/utilities/geometry/Test/GeometryFixture.cpp
  src/utilities/geometry/Test/GeometryFixture.hpp
  src/utilities/idd/Test/IddFixture.cpp
  src/utilities/idd/Test/IddFixture.hpp
  src/utilities/idf/Test/IdfFixture.cpp
  src/utilities/idf/Test/IdfFixture.hpp
  src/utilities/sql/Test/IlluminanceMap_GTest.cpp
  src/utilities/sql/Test/SqlFileFixture.cpp
  src/utilities/sql/Test/SqlFileFixture.hpp
  src/utilities/units/test/UnitsFixture.cpp
  src/utilities/units/test/UnitsFixture.hpp
Labels: Pull Request - Ready for CI

#3868 Fix #3866 - Error when querying surfaces() of ZoneHVACLowTemperature objects and surfaces have no construction
  src/energyplus/Test/ZoneHVACLowTempRadiantVarFlow_GTest.cpp
  src/model/ZoneHVACLowTempRadiantConstFlow.cpp
  src/model/ZoneHVACLowTempRadiantVarFlow.cpp
  src/model/ZoneHVACLowTemperatureRadiantElectric.cpp
  src/model/test/ZoneHVACLowTempRadiantConstFlow_GTest.cpp
  src/model/test/ZoneHVACLowTempRadiantVarFlow_GTest.cpp
  src/model/test/ZoneHVACLowTemperatureRadiantElectric_GTest.cpp
Labels: Pull Request - Ready for CI, component - IDF Translation, component - Model, severity - Major Bug

#3864 Fan System Model: adjust OpenStudio & EnergyPlus IDDs to support all types
  resources/energyplus/ProposedEnergy+.idd
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVACUnitaryHeatPumpAirToAir.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVACUnitaryHeatPumpAirToAirMultiSpeed.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateZoneHVACEnergyRecoveryVentilator.cpp
  src/energyplus/Test/ErrorFile_GTest.cpp
  src/model/AirTerminalSingleDuctSeriesPIUReheat.cpp
  src/model/FanSystemModel.cpp
  src/model/test/FanSystemModel_GTest.cpp
Labels: IDDChange, Pull Request - Ready for CI, component - HVAC, component - IDF Translation, component - Model

#3846 3.0 refactors: remove ThermalZone::addEquipment, remove BoilerHotWater::designWaterOutletTemperature, etc
  resources/model/OpenStudio.idd
  src/model/BoilerHotWater.cpp
  src/model/BoilerHotWater.hpp
  src/model/BoilerHotWater_Impl.hpp
  src/model/ModelHVAC.i
  src/model/SiteWaterMainsTemperature.cpp
  src/osversion/VersionTranslator.cpp
Labels: APIChange, IDDChange, Pull Request - Ready for CI, component - Model, component - Ruby bindings

#3844 Fix crash in FT for HeatPumpWaterToWaterEquationFitCooling/Heating when they refernce each other as companions
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator/ForwardTranslateHeatPumpWaterToWaterEquationFitCooling.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateHeatPumpWaterToWaterEquationFitHeating.cpp
  src/energyplus/Test/HeatPumpWaterToWaterEquationFit_GTest.cpp
Labels: Pull Request - Ready for CI, component - IDF Translation

#3805 Support year in EpwFile/EpwDataPoint
  src/utilities/filetypes/EpwFile.cpp
  src/utilities/filetypes/test/EpwFile_GTest.cpp
Labels: Pull Request - Ready for CI, component - TimeDate, component - Utilities Other

#3871 Fix #3870 - Remove deprecated Active Year/Instiution fields in OS:ClimateZones
  resources/model/OpenStudio.idd
  src/model/ClimateZones.cpp
  src/model/ClimateZones.hpp
  src/model/ClimateZones_Impl.hpp
  src/model/test/ClimateZones_GTest.cpp
Labels: IDDChange, Pull Request - Ready for CI, component - Model

#3862 Addresses #3386, LifeCycleCost:UsePriceEscalation bad E+ IDD
  resources/energyplus/ProposedEnergy+.idd
  src/energyplus/ForwardTranslator/ForwardTranslateLifeCycleCostParameters.cpp
  src/model/CMakeLists.txt
  src/model/test/LifeCycleCostUsePriceEscalation_GTest.cpp
Labels: EnergyPlus Issue, Pull Request - Ready for CI, component - IDF Translation, severity - Normal Bug

#3887 Add a Release Notes document for 3.0.0
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_0_0.md
Labels: Developer Issue
