Repository NREL/OpenStudio, pull requests merged in 2020-07, with the labels that each got.

#3987 Addresses #3907, support new object Coil:Cooling:DX and related
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVACUnitarySystem.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateCoilCoolingDX.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateCoilCoolingDXCurveFitOperatingMode.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateCoilCoolingDXCurveFitPerformance.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateCoilCoolingDXCurveFitSpeed.cpp
  src/energyplus/ReverseTranslator.cpp
  src/energyplus/ReverseTranslator.hpp
  src/energyplus/ReverseTranslator/ReverseTranslateCoilCoolingDX.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateCoilCoolingDXCurveFitOperatingMode.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateCoilCoolingDXCurveFitPerformance.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateCoilCoolingDXCurveFitSpeed.cpp
  src/energyplus/Test/CoilCoolingDXCurveFitOperatingMode_GTest.cpp
  src/energyplus/Test/CoilCoolingDXCurveFitPerformance_GTest.cpp
  src/energyplus/Test/CoilCoolingDXCurveFitSpeed_GTest.cpp
  src/energyplus/Test/CoilCoolingDX_GTest.cpp
  src/energyplus/Test/ReverseTranslator_GTest.cpp
  src/model/AirflowNetworkEquivalentDuct.cpp
  src/model/CMakeLists.txt
  src/model/CoilCoolingDX.cpp
  src/model/CoilCoolingDX.hpp
  src/model/CoilCoolingDXCurveFitOperatingMode.cpp
  src/model/CoilCoolingDXCurveFitOperatingMode.hpp
  src/model/CoilCoolingDXCurveFitOperatingMode_Impl.hpp
  src/model/CoilCoolingDXCurveFitPerformance.cpp
  src/model/CoilCoolingDXCurveFitPerformance.hpp
  src/model/CoilCoolingDXCurveFitPerformance_Impl.hpp
  src/model/CoilCoolingDXCurveFitSpeed.cpp
  src/model/CoilCoolingDXCurveFitSpeed.hpp
  src/model/CoilCoolingDXCurveFitSpeed_Impl.hpp
  src/model/CoilCoolingDX_Impl.hpp
  src/model/ConcreteModelObjects.hpp
  src/model/Model.cpp
  src/model/ModelResources.i
  src/model/ModelStraightComponent.i
  src/model/ParentObject.cpp
  src/model/ParentObject.hpp
  src/model/ParentObject_Impl.hpp
  src/model/ScheduleTypeRegistry.cpp
  src/model/test/CoilCoolingDXCurveFitOperatingMode_GTest.cpp
  src/model/test/CoilCoolingDXCurveFitPerformance_GTest.cpp
  src/model/test/CoilCoolingDXCurveFitSpeed_GTest.cpp
  src/model/test/CoilCoolingDX_GTest.cpp
Labels: Enhancement Request, Pull Request - Ready for CI, component - HVAC

#3893 adding separate Jenkins files for each platform
  Jenkinsfile_develop_linux
  Jenkinsfile_develop_osx
  Jenkinsfile_develop_windows
Labels: Pull Request - Ready for CI

#4010 #4007 - Model objects returned in inconsistent order
  src/model/Model.hpp
  src/model/Model_Common_Include.i
Labels: Pull Request - Ready for CI, component - Model

#4013 Addresses #2867, sum of fraction radiant, fraction lost, etc can be > 1
  src/model/ElectricEquipmentDefinition.cpp
  src/model/GasEquipmentDefinition.cpp
  src/model/HotWaterEquipmentDefinition.cpp
  src/model/OtherEquipmentDefinition.cpp
  src/model/SteamEquipmentDefinition.cpp
  src/model/test/ElectricEquipment_GTest.cpp
  src/model/test/GasEquipment_GTest.cpp
  src/model/test/HotWaterEquipment_GTest.cpp
  src/model/test/OtherEquipment_GTest.cpp
  src/model/test/SteamEquipment_GTest.cpp
Labels: Pull Request - Ready for CI, component - Model, severity - Normal Bug

#4012 Addresses #2895, cannot add window frame and divider to skylights
  src/energyplus/Test/SubSurface_GTest.cpp
  src/model/SubSurface.cpp
  src/model/test/SubSurface_GTest.cpp
Labels: Pull Request - Ready for CI, component - Model, severity - Normal Bug

#4009 Fix #4006 - Add SwimmingPool:Indoor to SDK
  developer/ruby/SubProjectClassGenerators/ModelClassGenerator.rb
  developer/ruby/SubProjectClassGenerators/TranslatorGenerator.rb
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateSwimmingPoolIndoor.cpp
  src/energyplus/ReverseTranslator.cpp
  src/energyplus/ReverseTranslator.hpp
  src/energyplus/ReverseTranslator/ReverseTranslateSwimmingPoolIndoor.cpp
  src/energyplus/Test/SwimmingPoolIndoor_GTest.cpp
  src/model/CMakeLists.txt
  src/model/ConcreteModelObjects.hpp
  src/model/Model.cpp
  src/model/ModelHVAC.i
  src/model/ScheduleTypeRegistry.cpp
  src/model/SwimmingPoolIndoor.cpp
  src/model/SwimmingPoolIndoor.hpp
  src/model/SwimmingPoolIndoor_Impl.hpp
  src/model/test/SwimmingPoolIndoor_GTest.cpp
Labels: IDDChange, Pull Request - Ready for CI, component - HVAC

#4005 Fix #4001 - gbXML issue on ForwardTranslation - surfaceType attribute written twice for SlabOnGrade
  src/gbxml/ForwardTranslator.cpp
  src/gbxml/Test/ForwardTranslator_GTest.cpp
Labels: Pull Request - Ready for CI, component - gbXML, severity - Normal Bug

#4021 Fix #4014 download from BCL
  src/cli/test/bundle_git/test.rb
  src/utilities/bcl/RemoteBCL.cpp
Labels: Pull Request - Ready for CI, component - Utilities Other, severity - Normal Bug

#3993 Fix for complex window geometry causing crashes in computeTriangulation
  src/model/ThreeJSForwardTranslator.cpp
  src/model/ThreeJSReverseTranslator.cpp
  src/model/test/ThreeJSForwardTranslator_GTest.cpp
  src/utilities/data/Matrix.cpp
  src/utilities/geometry/Geometry.cpp
  src/utilities/geometry/Intersection.cpp
  src/utilities/geometry/Test/Geometry_GTest.cpp
  src/utilities/geometry/Test/Intersection_GTest.cpp
Labels: Pull Request - Ready for CI
