Repository NREL/OpenStudio, pull requests merged in 2020-06, with the labels that each got.

#3960 SWIG C# fixes + dotnet support
  CMakeLists.txt
  ProjectMacros.cmake
  csharp/CMakeLists.txt
  csharp/OpenStudio.nuspec.in
  csharp/OpenStudio.targets
  csharp/developer/OpenStudio/OpenStudio.csproj.in
  csharp/developer/OpenStudio/OpenStudio.csproj_dotnet.in
  csharp/developer/OpenStudio/Properties/Settings.Designer.cs
  csharp/developer/OpenStudio/StrongNameKeyFile.snk
  csharp/examples/DotnetConsoleExample/.gitignore
  csharp/examples/DotnetConsoleExample/DotnetConsoleExample.csproj
  csharp/examples/DotnetConsoleExample/NuGet.Config
  csharp/examples/DotnetConsoleExample/Program.cs
  csharp/examples/OpenStudio.Tests/.gitignore
  csharp/examples/OpenStudio.Tests/Model.Tests.cs
  csharp/examples/OpenStudio.Tests/OpenStudio.Tests.csproj
  csharp/examples/OpenStudio.Tests/Utilities.BCL.Tests.cs
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_1_0.md
  src/measure/Measure.i
  src/model/ModelCore.i
  src/model/ModelGeometry.i
  src/model/ModelObject.cpp
  src/model/ModelObject.hpp
  src/model/ModelObject_Impl.hpp
  src/model/Model_Common_Include.i
  src/model/Schedule.cpp
  src/osversion/VersionTranslator.cpp
  src/utilities/UtilitiesFileTypes.i
  src/utilities/bcl/LocalBCL.i
  src/utilities/core/CommonImport.i
  src/utilities/core/Compare.cpp
  src/utilities/core/Compare.hpp
  src/utilities/core/Core.i
  src/utilities/core/Exception.i
  src/utilities/core/Path.i
  src/utilities/core/String.i
  src/utilities/core/csharp/LanguageSpecific.i
  src/utilities/core/java/LanguageSpecific.i
  src/utilities/core/test/Compare_GTest.cpp
  src/utilities/data/Attribute.i
  src/utilities/filetypes/Filetypes.i
  src/utilities/idf/Idf.i
Labels: Pull Request - Ready for CI, component - C#

#3988 Fix bug in GenerateClass.rb
  developer/ruby/SubProjectClassGenerators/ModelClassGenerator.rb
Labels: Developer Issue

#3927 Prevent CLI error
  src/cli/openstudio_cli.rb
Labels: component - CLI

#3980 Fix #2033 - Properly connected the secondary/induced air node for ATUs
  src/model/ThermalZone.cpp
  src/model/test/AirTerminalSingleDuctConstantVolumeFourPipeInduction_GTest.cpp
  src/model/test/AirTerminalSingleDuctParallelPIUReheat_GTest.cpp
  src/model/test/AirTerminalSingleDuctSeriesPIUReheat_GTest.cpp
Labels: Pull Request - Ready for CI, component - HVAC, severity - Normal Bug

#3981 Fix #2977 - Make VAVReheat Method consistent with IDD and other objects
  src/energyplus/ForwardTranslator/ForwardTranslateAirTerminalSingleDuctVAVNoReheat.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateAirTerminalSingleDuctVAVReheat.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateAirTerminalSingleDuctVAVReheat.cpp
  src/model/AirTerminalSingleDuctVAVReheat.cpp
  src/model/AirTerminalSingleDuctVAVReheat.hpp
  src/model/AirTerminalSingleDuctVAVReheat_Impl.hpp
  src/sdd/MapHVAC.cpp
Labels: Pull Request - Ready for CI, component - HVAC

#3985 Fix 3926 & 3984 - Avoid crash when orphaned ControllerOutdoorAir, and map the DSOA to all ControllerMechanicalVentilation when multiple AirLoopHVACs
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateSizingZone.cpp
  src/energyplus/Test/AirLoopHVAC_GTest.cpp
  src/energyplus/Test/ControllerOutdoorAir_GTest.cpp
Labels: Pull Request - Ready for CI, component - HVAC, component - IDF Translation

#3958 Allow embedded gems even with --bundle
  src/cli/embedded_help.rb
  src/cli/openstudio_cli.rb
Labels: Pull Request - Ready for CI

#3998 Fix #3997 - GbXMLReverseTranslator applies incorrect scaling to windows when unit isn't meter
  resources/CMakeLists.txt
  resources/gbxml/3997_WindowScaling_bug.xml
  src/gbxml/ReverseTranslator.cpp
  src/gbxml/Test/ReverseTranslator_GTest.cpp
Labels: Pull Request - Ready for CI, component - gbXML

#4000 Fix #3314 - GBXML translate spaces etc even if Facility and/or Building aren't instantiated
  src/gbxml/ForwardTranslator.cpp
  src/gbxml/ForwardTranslator.hpp
  src/gbxml/MapEnvelope.cpp
  src/gbxml/Test/ForwardTranslator_GTest.cpp
Labels: Pull Request - Ready for CI, component - gbXML, severity - Normal Bug

#4004 Update OpenStudio-gems for extension gem 0.2.4 release
  CMakeLists.txt
Labels: Pull Request - Ready for CI

#3995 Implement `eql?` and `hash` for UUID in Ruby so UUID can be used as a key in a Ruby Hash
  .gitignore
  ruby/test/UUID_Test.rb
  src/utilities/core/UUID.hpp
  src/utilities/core/UUID.i
Labels: Pull Request - Ready for CI
