Repository NREL/OpenStudio, pull requests merged in 2021-11, with the labels that each got.

#4487 Add operator< for BCLComponent and BCLMeasure
  src/utilities/bcl/BCLComponent.cpp
  src/utilities/bcl/BCLComponent.hpp
  src/utilities/bcl/BCLMeasure.cpp
  src/utilities/bcl/BCLMeasure.hpp
Labels: component - Utilities Other, Pull Request - Ready for CI

#4492 [developper] 3.3.0 Release Notes updates
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_3_0.20211105.md
Labels: Developer Issue

#4482 Fix #4481 - add missing `\ip-units W` to the OpenStudio.idd
  resources/model/OpenStudio.idd
Labels: severity - Minor Bug, component - Model, Pull Request - Ready for CI, IDDChange

#4491 Fix #4490 - Expose RoofGeometry helpers to Swig bindings
  src/utilities/geometry/Geometry.i
Labels: severity - Minor Bug, Pull Request - Ready for CI, component - Ruby bindings, component - Python bindings

#4493 Fix #4456 - Improve performance of OpenStudio::UnzipFile::extractAllFiles
  src/utilities/CMakeLists.txt
  src/utilities/core/UnzipFile.cpp
  src/utilities/core/UnzipFile.hpp
  src/utilities/core/test/Zip_Benchmark.cpp
Labels: component - Utilities Other, Pull Request - Ready for CI, Performance

#4424 Issue 4361
  src/model/PlanarSurface.cpp
  src/model/SubSurface.cpp
  src/model/SubSurface.hpp
  src/model/Surface.cpp
  src/model/Surface_Impl.hpp
  src/model/test/SubSurface_GTest.cpp
  src/utilities/geometry/Intersection.cpp
  src/utilities/geometry/Intersection.hpp
Labels: component - Utilities Geometry, Pull Request - Ready for CI

#4475 Add a method on the FT to get known ft options
  src/energyplus/EnergyPlus.i
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
Labels: Enhancement Request, component - Utilities Other, Pull Request - Ready for CI

#4504 Fix #2941 - Add option to show workflow run stdout + style + timings
  src/cli/openstudio_cli.rb
Labels: severity - Normal Bug, Enhancement Request, component - CLI, Pull Request - Ready for CI

#4502 #4496 - Add gems cbor and msgpack and allow using a package from an openstudio-gems PR
  CMakeLists.txt
  src/cli/embedded_help.rb
  src/cli/test/test_embedded_ruby.rb
Labels: component - CLI, Pull Request - Ready for CI, component - Ruby bindings
