Repository NREL/OpenStudio, pull requests merged in 2021-05, with the labels that each got.

#4302 Ruby 2 7 io method
  src/cli/embedded_help.rb
Labels: Pull Request - Ready for CI, component - CLI, severity - Minor Bug

#4324 Fix #4298 - Do not Warn if Sql doesn't have a Year field, just Info if f there are no timeseries reporting lower than Runperiod
  src/utilities/sql/SqlFile_Impl.cpp
  src/utilities/sql/Test/SqlFile_GTest.cpp
Labels: Pull Request - Ready for CI, component - Utilities Other

#4280 Fix #1452 Fix #4279 - Remove Attribute from model, and remove interiorVisibleAbsorbtance/exteriorVisibleAbsorbtance
  src/model/Building.hpp
  src/model/CFactorUndergroundWallConstruction.hpp
  src/model/CFactorUndergroundWallConstruction_Impl.hpp
  src/model/ConstructionBase.cpp
  src/model/ConstructionBase.hpp
  src/model/FFactorGroundFloorConstruction.hpp
  src/model/FFactorGroundFloorConstruction_Impl.hpp
  src/model/Facility.cpp
  src/model/Facility.hpp
  src/model/Facility_Impl.hpp
  src/model/Material.hpp
  src/model/ModelObject.hpp
  src/model/ModelObject_Impl.hpp
  src/model/OpaqueMaterial.hpp
  src/model/PlanarSurface.cpp
  src/model/PlanarSurface.hpp
  src/model/StandardOpaqueMaterial.hpp
  src/model/mainpage.hpp
  src/utilities/sql/SqlFile.hpp
  src/utilities/sql/SqlFile_Impl.hpp
Labels: APIChange, Pull Request - Ready for CI, component - Model

#4294 Addresses #4290 and #4293, can't add a StraightComponent or AirToAirComponent to AirLoopHVAC:OutdoorAirSystem attached to AirLoopHVAC:DedicatedOutdoorAirSystem
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVACDedicatedOutdoorAirSystem.cpp
  src/energyplus/Test/AirLoopHVACDedicatedOutdoorAirSystem_GTest.cpp
  src/model/CoilCoolingDXSingleSpeed.cpp
  src/model/CoilCoolingDXTwoSpeed.cpp
  src/model/CoilCoolingDXTwoStageWithHumidityControlMode.cpp
  src/model/CoilSystemCoolingWaterHeatExchangerAssisted.cpp
  src/model/test/AirLoopHVACDedicatedOutdoorAirSystem_GTest.cpp
Labels: Enhancement Request, Pull Request - Ready for CI, component - Model

#4307 Fix #4289 - Standardize Curve IDD references like E+ does (Uni/Bi...variateFunctions) and remove hard check in model code
  developer/python/Check_Correct_IDD_curve_refs_between_ep_and_os.ipynb
  resources/model/OpenStudio.idd
  src/model/CoilCoolingDXSingleSpeed.cpp
  src/model/CoilCoolingDXTwoSpeed.cpp
  src/model/CoilHeatingDXSingleSpeed.cpp
  src/model/CoilHeatingGas.cpp
  src/model/PumpVariableSpeed.cpp
  src/model/test/FanOnOff_GTest.cpp
Labels: Pull Request - Ready for CI, component - HVAC, component - Model, severity - Normal Bug

#4319 Fix #4315 - Wrap E+ FuelFactors object
  .github/workflows/clangformat.yml
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateEnvironmentalImpactFactors.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateFuelFactors.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateOutputEnvironmentalImpactFactors.cpp
  src/energyplus/ReverseTranslator.cpp
  src/energyplus/ReverseTranslator.hpp
  src/energyplus/ReverseTranslator/ReverseTranslateEnvironmentalImpactFactors.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateFuelFactors.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateOutputEnvironmentalImpactFactors.cpp
  src/energyplus/Test/EnvironmentalImpactFactors_GTest.cpp
  src/energyplus/Test/FuelFactors_GTest.cpp
  src/energyplus/Test/OutputEnvironmentalImpactFactors_GTest.cpp
  src/model/CMakeLists.txt
  src/model/ConcreteModelObjects.hpp
  src/model/EnvironmentalImpactFactors.cpp
  src/model/EnvironmentalImpactFactors.hpp
  src/model/EnvironmentalImpactFactors_Impl.hpp
  src/model/FuelFactors.cpp
  src/model/FuelFactors.hpp
  src/model/FuelFactors_Impl.hpp
  src/model/Model.cpp
  src/model/ModelSimulation.i
  src/model/OutputEnvironmentalImpactFactors.cpp
  src/model/OutputEnvironmentalImpactFactors.hpp
  src/model/OutputEnvironmentalImpactFactors_Impl.hpp
  src/model/ScheduleTypeRegistry.cpp
  src/model/SpaceInfiltrationFlowCoefficient.aux
  src/model/test/EnvironmentalImpactFactors_GTest.cpp
  src/model/test/FuelFactors_GTest.cpp
  src/model/test/OutputEnvironmentalImpactFactors_GTest.cpp
Labels: Enhancement Request, IDDChange, Pull Request - Ready for CI, component - IDF Translation

#4326 Fix #669 - Wrap E+ WaterHeater:Sizing object
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateWaterHeaterMixed.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateWaterHeaterSizing.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateWaterHeaterStratified.cpp
  src/energyplus/Test/WaterHeaterSizing_GTest.cpp
  src/model/CMakeLists.txt
  src/model/ConcreteModelObjects.hpp
  src/model/Model.cpp
  src/model/ModelHVAC.i
  src/model/WaterHeaterHeatPumpWrappedCondenser.cpp
  src/model/WaterHeaterMixed.cpp
  src/model/WaterHeaterMixed.hpp
  src/model/WaterHeaterMixed_Impl.hpp
  src/model/WaterHeaterSizing.cpp
  src/model/WaterHeaterSizing.hpp
  src/model/WaterHeaterSizing_Impl.hpp
  src/model/WaterHeaterStratified.cpp
  src/model/WaterHeaterStratified.hpp
  src/model/WaterHeaterStratified_Impl.hpp
  src/model/test/WaterHeaterSizing_GTest.cpp
  src/osversion/VersionTranslator.cpp
  src/osversion/VersionTranslator.hpp
  src/osversion/test/3_2_1/test_vt_WaterHeaterSizing.osm
  src/osversion/test/3_2_1/test_vt_WaterHeaterSizing.rb
  src/osversion/test/VersionTranslator_GTest.cpp
Labels: Pull Request - Ready for CI, component - Model

#4333 test_ymd_constructor windows ruby test
  ruby/test/Date_Test.rb
Labels: Developer Issue, Pull Request - Ready for CI
