Repository NREL/OpenStudio, pull requests merged in 2021-02, with the labels that each got.

#4192 Addresses #4182, provide OS SDK/API support for the EnergyPlus "Generator:WindTurbine" object
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateGeneratorPhotovoltaic.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateGeneratorWindTurbine.cpp
  src/energyplus/ReverseTranslator.cpp
  src/energyplus/ReverseTranslator.hpp
  src/energyplus/ReverseTranslator/ReverseTranslateGeneratorWindTurbine.cpp
  src/energyplus/Test/FuelCell_GTest.cpp
  src/energyplus/Test/GeneratorMicroTurbine_GTest.cpp
  src/energyplus/Test/GeneratorWindTurbine_GTest.cpp
  src/model/AdditionalProperties.cpp
  src/model/CMakeLists.txt
  src/model/ConcreteModelObjects.hpp
  src/model/GeneratorPVWatts.cpp
  src/model/GeneratorPhotovoltaic.cpp
  src/model/GeneratorWindTurbine.cpp
  src/model/GeneratorWindTurbine.hpp
  src/model/GeneratorWindTurbine_Impl.hpp
  src/model/Model.cpp
  src/model/ModelGenerators.i
  src/model/ScheduleTypeRegistry.cpp
  src/model/test/GeneratorPVWatts_GTest.cpp
  src/model/test/GeneratorWindTurbine_GTest.cpp
  src/utilities/filetypes/EpwFile.cpp
Labels: Enhancement Request, Pull Request - Ready for CI, component - Model

#4207 Update to Ruby 2.7.2
  CMakeLists.txt
  ConanInstall.cmake
  FetchRubyMinGW.cmake
  ruby/CMakeLists.txt
  src/cli/CMakeLists.txt
  src/cli/embedded_help.rb
  src/cli/main.cpp
  src/cli/openstudio_cli.rb
  src/cli/test/bundle/Gemfile
  src/cli/test/bundle/test.rb
  src/cli/test/bundle_git/Gemfile
  src/cli/test/bundle_git/test.rb
  src/cli/test/test_embedded_ruby.rb
Labels: Enhancement Request, component - CLI, component - Ruby bindings

#4215 Update Jenkinsfiles for ubuntu_2004 support
  CMakeLists.txt
  Jenkinsfile_develop_ubuntu_1804
  Jenkinsfile_develop_ubuntu_2004
  src/energyplus/Test/HeatPumpWaterToWaterEquationFit_GTest.cpp
  src/model/test/AvailabilityManagerAssignmentList_GTest.cpp
Labels: Developer Issue, Pull Request - Ready for CI
