Repository NREL/OpenStudio, pull requests merged in 2021-01, with the labels that each got.

#4173 Fixes FT of Design Maximum Continuous Input Power for ElectricLoadCenterStorageConverter
  src/energyplus/ForwardTranslator/ForwardTranslateElectricLoadCenterStorageConverter.cpp
Labels: Pull Request - Ready for CI, severity - Normal Bug

#4179 Fixes bug in SurfaceProperty:ExposedFoundationPerimeter IDD
  resources/model/OpenStudio.idd
Labels: IDDChange, component - Model

#4191 Fix issue with the test portion of the python bindings workflow (no +1 for version)
  .github/workflows/python_bindings.yml
  python/find_pypi_tag.py
Labels: Developer Issue, component - Python bindings

#4159 Addresses #3615, wrap Refrigeration:CompressorRack in OpenStudio
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateCoilHeatingDesuperheater.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateCoilWaterHeatingDesuperheater.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateRefrigerationCompressorRack.cpp
  src/model/CMakeLists.txt
  src/model/CoilHeatingDesuperheater.hpp
  src/model/ConcreteModelObjects.hpp
  src/model/Model.cpp
  src/model/ModelRefrigeration.i
  src/model/RefrigerationAirChiller.cpp
  src/model/RefrigerationAirChiller.hpp
  src/model/RefrigerationAirChiller_Impl.hpp
  src/model/RefrigerationCase.cpp
  src/model/RefrigerationCase.hpp
  src/model/RefrigerationCase_Impl.hpp
  src/model/RefrigerationCompressorRack.cpp
  src/model/RefrigerationCompressorRack.hpp
  src/model/RefrigerationCompressorRack_Impl.hpp
  src/model/RefrigerationSecondarySystem.cpp
  src/model/RefrigerationSystem.cpp
  src/model/RefrigerationWalkIn.cpp
  src/model/RefrigerationWalkIn.hpp
  src/model/RefrigerationWalkIn_Impl.hpp
  src/model/ScheduleTypeRegistry.cpp
  src/model/test/RefrigerationCompressorRack_GTest.cpp
  src/model/test/RefrigerationSystem_GTest.cpp
Labels: Enhancement Request, Pull Request - Ready for CI, component - HVAC, severity - Minor Bug

#4180 Addresses #4175, issues with ft for ElectricLoadCenter:Distribution
  ruby/test/ElectricLoadCenterDistribution_Test.rb
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateElectricLoadCenterDistribution.cpp
  src/energyplus/Test/ElectricLoadCenterDistribution_GTest.cpp
  src/energyplus/Test/FuelCell_GTest.cpp
  src/model/GeneratorFuelCell.cpp
  src/model/GeneratorMicroTurbine.cpp
  src/model/GeneratorPVWatts.cpp
  src/model/GeneratorPhotovoltaic.cpp
  src/model/test/GeneratorFuelCell_GTest.cpp
  src/model/test/GeneratorMicroTurbine_GTest.cpp
  src/model/test/GeneratorPVWatts_GTest.cpp
  src/model/test/GeneratorPhotovoltaic_GTest.cpp
Labels: APIChange, Pull Request - Ready for CI, component - IDF Translation, component - Model, severity - Minor Bug
