Repository NREL/OpenStudio, pull requests merged in 2021-06, with the labels that each got.

#4332 Fix #4331 - Fix StringHelpers openstudio::replace
  src/utilities/bcl/BCLMeasure.cpp
  src/utilities/core/StringHelpers.cpp
  src/utilities/core/test/String_GTest.cpp
Labels: Pull Request - Ready for CI, component - Utilities Other, severity - Normal Bug

#4344 Update gems
  CMakeLists.txt
  src/cli/main.cpp
Labels: Pull Request - Ready for CI, component - CLI, severity - Normal Bug

#4337 Fix #4336 - Encode searchTerm in BCL (including spaces, not only "+" signs)
  ConanInstall.cmake
  src/utilities/bcl/RemoteBCL.cpp
  src/utilities/bcl/test/BCL_GTest.cpp
Labels: Pull Request - Ready for CI, component - Utilities Other, severity - Normal Bug

#4349 Fix #3514 - Make strings returned from openstudio to ruby UTF8
  ruby/rubystrings.swg
Labels: Pull Request - Ready for CI, component - Ruby bindings

#4346 Addresses #4329 and #4330, issues with AirLoopHVAC:UnitaryHeatCool:VAVChangeoverBypass
  resources/energyplus/ProposedEnergy+.idd
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVACUnitaryHeatCoolVAVChangeoverBypass.cpp
  src/energyplus/Test/AirLoopHVACUnitaryHeatCoolVAVChangeoverBypass_GTest.cpp
  src/model/AirLoopHVACUnitaryHeatCoolVAVChangeoverBypass.cpp
  src/model/AirLoopHVACUnitaryHeatCoolVAVChangeoverBypass.hpp
  src/model/AirLoopHVACUnitaryHeatCoolVAVChangeoverBypass_Impl.hpp
Labels: Pull Request - Ready for CI, component - Model, severity - Normal Bug

#4356 Fix #4353 - Add a missing reference in E+ Idd for PythonPlugin:Instance (`ProgramNames`)
  resources/energyplus/ProposedEnergy+.idd
Labels: IDDChange, Pull Request - Ready for CI, severity - Minor Bug

#4355 Fix #4354 - Issue in AirLoopHVACOutdoorAirSystem::reliefComponents with ZoneHVACComponents: wrong order
  src/model/AirLoopHVACOutdoorAirSystem.cpp
  src/model/test/ZoneHVACTerminalUnitVariableRefrigerantFlow_GTest.cpp
Labels: Pull Request - Ready for CI, component - HVAC

#4347 Fix #227 - Actually use the EPW start year or start day of week when "UseWeatherFile" is used in YearDescription for assumedYear
  resources/model/OpenStudio.idd
  src/model/WeatherFile.cpp
  src/model/WeatherFile.hpp
  src/model/WeatherFile_Impl.hpp
  src/model/YearDescription.cpp
  src/model/test/WeatherFile_GTest.cpp
Labels: Pull Request - Ready for CI, component - Model

#4343 Fix #4335 - Should reset the air nodes when cloning a AirLoopHVACUnitarySystem
  src/model/AirLoopHVACUnitarySystem.cpp
  src/model/test/AirLoopHVACUnitarySystem_GTest.cpp
Labels: Pull Request - Ready for CI, Ready for Merge, component - HVAC, severity - Normal Bug

#4339 Fix #4338 - AirLoopHVAC_Impl::terminalForLastBranch doesn't handle Dual duct correctly
  src/energyplus/Test/AirTerminalDualDuctConstantVolume_GTest.cpp
  src/energyplus/Test/AirTerminalDualDuctVAVOutdoorAir_GTest.cpp
  src/model/AirLoopHVAC.cpp
  src/model/AirLoopHVAC.hpp
  src/model/AirLoopHVAC_Impl.hpp
  src/model/test/AirLoopHVAC_GTest.cpp
  src/model/test/AirTerminalDualDuctConstantVolume_GTest.cpp
  src/model/test/AirTerminalDualDuctVAVOutdoorAir_GTest.cpp
  src/model/test/AirTerminalDualDuctVAV_GTest.cpp
Labels: Pull Request - Ready for CI, component - HVAC, severity - Normal Bug

#4359 Addresses #4314, add ScheduleRuleset custom day methods
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateScheduleRuleset.cpp
  src/energyplus/Test/ScheduleRuleset_GTest.cpp
  src/model/ScheduleRuleset.cpp
  src/model/ScheduleRuleset.hpp
  src/model/ScheduleRuleset_Impl.hpp
  src/model/test/ScheduleRuleset_GTest.cpp
Labels: Enhancement Request, IDDChange, Pull Request - Ready for CI
