Repository NREL/OpenStudio, pull requests merged in 2021-08, with the labels that each got.

#4376 Fix #4309 - disable RUBYLIB env and use --include or -I using cli
  src/cli/embedded_help.rb
Labels: Pull Request - Ready for CI, component - CLI

#4383 Provide more options for installation of openstudio dlls
  ruby/openstudio.rb
Labels: Pull Request - Ready for CI

#4385 Fixes https://github.com/NREL/OpenStudio/issues/4384
  src/utilities/geometry/FloorplanJS.cpp
Labels: Pull Request - Ready for CI

#4389 Development BCL Update
  developer/msvc/Visualizers/boost.natvis
  developer/msvc/Visualizers/boost_Containers.natvis
  developer/msvc/Visualizers/boost_DateTime.natvis
  developer/msvc/Visualizers/boost_Gil.natvis
  developer/msvc/Visualizers/boost_IntrusiveContainers.natvis
  developer/msvc/Visualizers/boost_MultiIndex.natvis
  developer/msvc/Visualizers/boost_PointerContainerLibrary.natvis
  developer/msvc/Visualizers/boost_PropertyTree.natvis
  developer/msvc/Visualizers/boost_Regex.natvis
  developer/msvc/Visualizers/boost_SmartPointers.natvis
  developer/msvc/Visualizers/boost_Unordered.natvis
  developer/msvc/Visualizers/pugixml.natvis
  developer/msvc/Visualizers/qt5.natvis
  src/utilities/bcl/LocalBCL.cpp
  src/utilities/bcl/RemoteBCL.cpp
  src/utilities/bcl/test/BCL_GTest.cpp
Labels: Pull Request - Ready for CI

#4368 Addresses #4362, add support of HeatPump:PlantLoop:EIR:Heating to model air-to-water heat pump
  resources/energyplus/ProposedEnergy+.idd
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateHeatPumpPlantLoopEIRCooling.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateHeatPumpPlantLoopEIRHeating.cpp
  src/energyplus/ForwardTranslator/ForwardTranslatePlantEquipmentOperationSchemes.cpp
  src/energyplus/Test/HeatPumpPlantLoopEIR_GTest.cpp
  src/energyplus/Test/HeatPumpWaterToWaterEquationFit_GTest.cpp
  src/energyplus/Test/PlantEquipmentOperationSchemes_GTest.cpp
  src/model/CMakeLists.txt
  src/model/ConcreteModelObjects.hpp
  src/model/HeatPumpPlantLoopEIRCooling.cpp
  src/model/HeatPumpPlantLoopEIRCooling.hpp
  src/model/HeatPumpPlantLoopEIRCooling_Impl.hpp
  src/model/HeatPumpPlantLoopEIRHeating.cpp
  src/model/HeatPumpPlantLoopEIRHeating.hpp
  src/model/HeatPumpPlantLoopEIRHeating_Impl.hpp
  src/model/Model.cpp
  src/model/ModelHVAC.i
  src/model/test/HeatPumpPlantLoopEIRCooling_GTest.cpp
  src/model/test/HeatPumpPlantLoopEIRHeating_GTest.cpp
Labels: Enhancement Request, component - HVAC, Pull Request - Ready for CI

#4382 Addresses #4380, completing SDK support of Tubular Daylighting Devices (TDDs)
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateDaylightingDeviceLightWell.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateDaylightingDeviceShelf.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateDaylightingDeviceTubular.cpp
  src/energyplus/Test/DaylightingDeviceLightWell_GTest.cpp
  src/energyplus/Test/DaylightingDeviceTubular_GTest.cpp
  src/model/CMakeLists.txt
  src/model/ConcreteModelObjects.hpp
  src/model/DaylightingDeviceLightWell.cpp
  src/model/DaylightingDeviceLightWell.hpp
  src/model/DaylightingDeviceLightWell_Impl.hpp
  src/model/DaylightingDeviceTubular.cpp
  src/model/DaylightingDeviceTubular.hpp
  src/model/DaylightingDeviceTubular_Impl.hpp
  src/model/Model.cpp
  src/model/ModelGeometry.i
  src/model/ModelHVAC.i
  src/model/ShadowCalculation.cpp
  src/model/SubSurface.cpp
  src/model/SubSurface.hpp
  src/model/SubSurface_Impl.hpp
  src/model/ThermalZone.cpp
  src/model/ThermalZone.hpp
  src/model/test/DaylightingDeviceLightWell_GTest.cpp
  src/model/test/DaylightingDeviceTubular_GTest.cpp
Labels: Enhancement Request, component - Model, Pull Request - Ready for CI

#4398 ref #4397 - Fix some issues in our Init calls for embedded ruby
  src/cli/main.cpp
Labels: component - CLI, Pull Request - Ready for CI

#4381 Addresses #3906, support new field 'Minimum Air Flow Turndown Schedule Name' for AirTerminals
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator/ForwardTranslateAirTerminalDualDuctVAV.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateAirTerminalSingleDuctVAVHeatAndCoolNoReheat.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateAirTerminalSingleDuctVAVHeatAndCoolReheat.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateAirTerminalSingleDuctVAVNoReheat.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateAirTerminalSingleDuctVAVReheat.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateAirTerminalSingleDuctVAVNoReheat.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateAirTerminalSingleDuctVAVReheat.cpp
  src/energyplus/Test/AirTerminalDualDuctVAV_GTest.cpp
  src/energyplus/Test/AirTerminalSingleDuctVAVHeatAndCoolNoReheat_GTest.cpp
  src/energyplus/Test/AirTerminalSingleDuctVAVHeatAndCoolReheat_GTest.cpp
  src/energyplus/Test/AirTerminalSingleDuctVAVNoReheat_GTest.cpp
  src/energyplus/Test/AirTerminalSingleDuctVAVReheat_GTest.cpp
  src/model/AirTerminalDualDuctVAV.cpp
  src/model/AirTerminalDualDuctVAV.hpp
  src/model/AirTerminalDualDuctVAV_Impl.hpp
  src/model/AirTerminalSingleDuctVAVHeatAndCoolNoReheat.cpp
  src/model/AirTerminalSingleDuctVAVHeatAndCoolNoReheat.hpp
  src/model/AirTerminalSingleDuctVAVHeatAndCoolNoReheat_Impl.hpp
  src/model/AirTerminalSingleDuctVAVHeatAndCoolReheat.cpp
  src/model/AirTerminalSingleDuctVAVHeatAndCoolReheat.hpp
  src/model/AirTerminalSingleDuctVAVHeatAndCoolReheat_Impl.hpp
  src/model/AirTerminalSingleDuctVAVNoReheat.cpp
  src/model/AirTerminalSingleDuctVAVNoReheat.hpp
  src/model/AirTerminalSingleDuctVAVNoReheat_Impl.hpp
  src/model/AirTerminalSingleDuctVAVReheat.cpp
  src/model/AirTerminalSingleDuctVAVReheat.hpp
  src/model/AirTerminalSingleDuctVAVReheat_Impl.hpp
  src/model/ScheduleTypeRegistry.cpp
  src/model/test/AirTerminalDualDuctVAV_GTest.cpp
  src/model/test/AirTerminalSingleDuctVAVHeatAndCoolNoReheat_GTest.cpp
  src/model/test/AirTerminalSingleDuctVAVHeatAndCoolReheat_GTest.cpp
  src/model/test/AirTerminalSingleDuctVAVNoReheat_GTest.cpp
  src/model/test/AirTerminalSingleDuctVAVReheat_GTest.cpp
Labels: Enhancement Request, component - HVAC, component - Model, Pull Request - Ready for CI, IDDChange

#4400 #4399 - Surface fixes
  src/model/InteriorPartitionSurface.cpp
  src/model/ShadingSurface.cpp
  src/model/SubSurface.cpp
  src/model/SubSurface.hpp
  src/model/SubSurface_Impl.hpp
  src/model/Surface.cpp
  src/model/test/InteriorPartitionSurface_GTest.cpp
  src/model/test/ShadingSurface_GTest.cpp
  src/model/test/SubSurface_GTest.cpp
  src/model/test/Surface_GTest.cpp
Labels: severity - Minor Bug, component - Model, Pull Request - Ready for CI

#4392 Fix #4390 - add OSRunner::getOptionalBoolArgumentValue
  src/measure/OSRunner.cpp
  src/measure/OSRunner.hpp
  src/measure/test/OSRunner_GTest.cpp
Labels: component - Measures, Pull Request - Ready for CI

#4420 Fix #4419 - custom mapping for LCC Use Price Escalation
  src/epjson/epJSONTranslator.cpp
Labels: Pull Request - Ready for CI, component - epJSON
