Repository NREL/OpenStudio, pull requests merged in 2021-03, with the labels that each got.

#4193 Fix #4185 - Wrap Fan:ComponentModel in OS SDK
  developer/ruby/SubProjectClassGenerators/ModelClassGenerator.rb
  developer/ruby/SubProjectClassGenerators/TranslatorGenerator.rb
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVACUnitarySystem.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateFanComponentModel.cpp
  src/energyplus/ReverseTranslator.cpp
  src/energyplus/ReverseTranslator.hpp
  src/energyplus/ReverseTranslator/ReverseTranslateFanComponentModel.cpp
  src/energyplus/Test/FanComponentModel_GTest.cpp
  src/model/AirLoopHVAC.cpp
  src/model/CMakeLists.txt
  src/model/ConcreteModelObjects.hpp
  src/model/FanComponentModel.cpp
  src/model/FanComponentModel.hpp
  src/model/FanComponentModel_Impl.hpp
  src/model/Model.cpp
  src/model/ModelStraightComponent.i
  src/model/ScheduleTypeRegistry.cpp
  src/model/SetpointManagerMixedAir.cpp
  src/model/test/FanComponentModel_GTest.cpp
  src/model/test/SwimmingPoolIndoor_GTest.cpp
  src/utilities/idf/Test/WorkspaceObject_GTest.cpp
Labels: Enhancement Request, IDDChange, Pull Request - Ready for CI, component - Model

#4194 Fix #4184 - Wrap "PhotovoltaicPerformance:Sandia" in OS SDK
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_1_0.md
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_2_0.md
  developer/ruby/SubProjectClassGenerators/ModelClassGenerator.rb
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslatePhotovoltaicPerformanceSandia.cpp
  src/energyplus/ReverseTranslator.cpp
  src/energyplus/ReverseTranslator.hpp
  src/energyplus/ReverseTranslator/ReverseTranslatePhotovoltaicPerformanceSandia.cpp
  src/energyplus/Test/PhotovoltaicPerformanceSandia_GTest.cpp
  src/model/CMakeLists.txt
  src/model/ConcreteModelObjects.hpp
  src/model/GeneratorPhotovoltaic.cpp
  src/model/GeneratorPhotovoltaic.hpp
  src/model/Model.cpp
  src/model/ModelGenerators.i
  src/model/PhotovoltaicPerformanceSandia.cpp
  src/model/PhotovoltaicPerformanceSandia.hpp
  src/model/PhotovoltaicPerformanceSandia_Impl.hpp
  src/model/Resources/sandia/Sandia_Modules.json
  src/model/Resources/sandia/prepare_sandia_json.py
  src/model/test/GeneratorPhotovoltaic_GTest.cpp
  src/model/test/PhotovoltaicPerformanceSandia_GTest.cpp
Labels: Enhancement Request, IDDChange, Pull Request - Ready for CI, component - Model

#4232 C# fixes + register FindMissingSwigTypes as a CTest
  CMakeLists.txt
  csharp/CMakeLists.txt
  developer/ruby/FindMissingSWIGTypes.rb
  src/measure/OSArgument.cpp
  src/measure/OSArgument.hpp
  src/utilities/bcl/LocalBCL.cpp
  src/utilities/bcl/LocalBCL.hpp
  src/utilities/bcl/LocalBCL.i
  src/utilities/core/Core.i
  src/utilities/core/Logger.i
  src/utilities/core/String.i
  src/utilities/core/StringHelpers.hpp
  src/utilities/data/CalibrationResult.i
  src/utilities/filetypes/Filetypes.i
  src/utilities/geometry/Geometry.i
  src/utilities/idf/Idf.i
  src/utilities/sql/SqlFile.i
  src/utilities/time/Date.i
  src/utilities/time/DateTime.i
  src/utilities/time/Time.i
  src/utilities/units/Scale.i
Labels: Developer Issue, Pull Request - Ready for CI, component - C#

#4238 Lint geometry_improvements and use const refs
  src/utilities/geometry/Intersection.cpp
  src/utilities/geometry/Polygon.cpp
  src/utilities/geometry/Polygon.hpp
  src/utilities/geometry/Test/Geometry_GTest.cpp
  src/utilities/geometry/Test/Intersection_GTest.cpp
Labels: Pull Request - Ready for CI

#4234 Addresses #4230, update AirLoopHVAC:UnitaryHeatPump:AirToAir to support variable speed coils
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVACUnitaryHeatPumpAirToAir.cpp
  src/model/AirLoopHVACUnitaryHeatPumpAirToAir.cpp
  src/model/test/AirLoopHVACUnitaryHeatPumpAirToAir_GTest.cpp
Labels: Enhancement Request, Pull Request - Ready for CI, component - Model

#4244 Add a pre-commit hook example to run clang-format
  ci/clang-format.sh
  ci/pre-commit.sh
Labels: Developer Issue

#4239 Fix #4226 - add int argument for ScheduleFile.setMinutesperItem method
  resources/model/OpenStudio.idd
  src/energyplus/ReverseTranslator/ReverseTranslateScheduleFile.cpp
  src/model/ScheduleFile.cpp
  src/model/ScheduleFile.hpp
  src/model/ScheduleFile_Impl.hpp
  src/model/test/ScheduleInterval_GTest.cpp
Labels: IDDChange, component - Model, severity - Normal Bug

#4245 Fix #4166 - Merging FloorSpaceJS can delete unique model Objects such as Facility, Building, Site (and children)
  src/model/ModelMerger.cpp
  src/model/test/ModelMerger_GTest.cpp
  src/model/test/ThreeJSReverseTranslator_GTest.cpp
Labels: Pull Request - Ready for CI, component - Geometry Translator, component - Utilities Geometry, severity - Normal Bug

#4243 Fix #4240 (and more): add missing `\ip-units gal/min` via a script
  developer/ruby/FindAndAddMissingIPUnits.rb
  resources/model/OpenStudio.idd
Labels: IDDChange, Pull Request - Ready for CI, component - Model

#4258 Fix #4246 - Wrap ZoneInfiltration:FlowCoefficient object
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateSpaceInfiltrationFlowCoefficient.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateSpaceType.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateThermalZone.cpp
  src/energyplus/ReverseTranslator.cpp
  src/energyplus/ReverseTranslator.hpp
  src/energyplus/ReverseTranslator/ReverseTranslateZoneInfiltrationFlowCoefficient.cpp
  src/energyplus/Test/SpaceInfiltrationFlowCoefficient_GTest.cpp
  src/model/Building.hpp
  src/model/CMakeLists.txt
  src/model/ConcreteModelObjects.hpp
  src/model/Model.cpp
  src/model/ModelGeometry.i
  src/model/ScheduleTypeRegistry.cpp
  src/model/Space.cpp
  src/model/Space.hpp
  src/model/SpaceInfiltrationFlowCoefficient.aux
  src/model/SpaceInfiltrationFlowCoefficient.cpp
  src/model/SpaceInfiltrationFlowCoefficient.hpp
  src/model/SpaceInfiltrationFlowCoefficient_Impl.hpp
  src/model/SpaceType.cpp
  src/model/SpaceType.hpp
  src/model/SpaceType_Impl.hpp
  src/model/Space_Impl.hpp
  src/model/ThermalZone.hpp
  src/model/ThermalZone_Impl.hpp
  src/model/mainpage.hpp
  src/model/test/SpaceInfiltrationFlowCoefficient_GTest.cpp
Labels: IDDChange, Pull Request - Ready for CI, component - IDF Translation, component - Model

#4236 Addresses #4183 and #4231, provide OS SDK/API support for the EnergyPlus "CoilSystem:IntegratedHeatPump:AirSource" and "Coil:WaterHeating:AirToWaterHeatPump:VariableSpeed" objects
  resources/energyplus/ProposedEnergy+.idd
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVACUnitaryHeatPumpAirToAir.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateCoilSystemIntegratedHeatPumpAirSource.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateCoilWaterHeatingAirToWaterHeatPumpVariableSpeed.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateWaterHeaterHeatPump.cpp
  src/energyplus/Test/CoilSystemIntegratedHeatPumpAirSource_GTest.cpp
  src/energyplus/Test/CoilWaterHeatingAirToWaterHeatPumpVariableSpeed_GTest.cpp
  src/model/AirLoopHVACUnitaryHeatPumpAirToAir.cpp
  src/model/CMakeLists.txt
  src/model/CoilCoolingDXVariableSpeed.cpp
  src/model/CoilHeatingDXVariableSpeed.cpp
  src/model/CoilSystemIntegratedHeatPumpAirSource.cpp
  src/model/CoilSystemIntegratedHeatPumpAirSource.hpp
  src/model/CoilSystemIntegratedHeatPumpAirSource_Impl.hpp
  src/model/CoilWaterHeatingAirToWaterHeatPumpVariableSpeed.cpp
  src/model/CoilWaterHeatingAirToWaterHeatPumpVariableSpeed.hpp
  src/model/CoilWaterHeatingAirToWaterHeatPumpVariableSpeedSpeedData.cpp
  src/model/CoilWaterHeatingAirToWaterHeatPumpVariableSpeedSpeedData.hpp
  src/model/CoilWaterHeatingAirToWaterHeatPumpVariableSpeedSpeedData_Impl.hpp
  src/model/CoilWaterHeatingAirToWaterHeatPumpVariableSpeed_Impl.hpp
  src/model/ConcreteModelObjects.hpp
  src/model/Model.cpp
  src/model/ModelHVAC.i
  src/model/ModelStraightComponent.i
  src/model/test/AirLoopHVACUnitaryHeatPumpAirToAir_GTest.cpp
  src/model/test/CoilSystemIntegratedHeatPumpAirSource_GTest.cpp
  src/model/test/CoilWaterHeatingAirToWaterHeatPumpVariableSpeedSpeedData_GTest.cpp
  src/model/test/CoilWaterHeatingAirToWaterHeatPumpVariableSpeed_GTest.cpp
Labels: Enhancement Request, Pull Request - Ready for CI, Ready for Merge, component - Model

#4262 Add google/benchmark with a new BUILD_BENCHMARK option in CMake
  CMakeLists.txt
  ConanInstall.cmake
  src/energyplus/CMakeLists.txt
  src/model/CMakeLists.txt
  src/model/test/Model_Benchmark.cpp
  src/utilities/CMakeLists.txt
  src/utilities/idf/CMakeLists.txt
  src/utilities/idf/Test/Workspace_Benchmark.cpp
Labels: Developer Issue, Performance, Pull Request - Ready for CI

#4261 Address performance regressions after Ruby update
  embedded/embedded_files.hxx.in
  src/cli/EmbeddedScripting.i
  src/cli/embedded_help.rb
  src/cli/openstudio_cli.rb
Labels: Performance, Pull Request - Ready for CI, component - CLI

#4255 Fix #4252 - Error requiring rubocop
  src/cli/main.cpp
Labels: Pull Request - Ready for CI, component - CLI, severity - Normal Bug

#4259 Fix #4257 - Install the Energy+.schema.epJSON
  CMakeLists.txt
Labels: Pull Request - Ready for CI, component - Installer/Platform

#4225 Addresses #4223, wrap the new ElectricLoadCenter:Storage:LiIonNMCBattery object in the OS SDK
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateElectricLoadCenterStorageLiIonNMCBattery.cpp
  src/energyplus/ReverseTranslator.cpp
  src/energyplus/ReverseTranslator.hpp
  src/energyplus/ReverseTranslator/ReverseTranslateElectricLoadCenterStorageLiIonNMCBattery.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateElectricLoadCenterStorageSimple.cpp
  src/energyplus/Test/ElectricLoadCenterStorageLiIonNMCBattery_GTest.cpp
  src/model/CMakeLists.txt
  src/model/ConcreteModelObjects.hpp
  src/model/ElectricLoadCenterStorageLiIonNMCBattery.cpp
  src/model/ElectricLoadCenterStorageLiIonNMCBattery.hpp
  src/model/ElectricLoadCenterStorageLiIonNMCBattery_Impl.hpp
  src/model/ElectricalStorage.hpp
  src/model/ElectricalStorage_Impl.hpp
  src/model/Model.cpp
  src/model/ModelGenerators.i
  src/model/ScheduleTypeRegistry.cpp
  src/model/test/ElectricLoadCenterDistribution_GTest.cpp
  src/model/test/ElectricLoadCenterStorageLiIonNMCBattery_GTest.cpp
Labels: Enhancement Request, Pull Request - Ready for CI, component - Model

#4269 Fix #4268 - correct implementation of IdfObject_Impl::resizeToMinFields so that it handles truncated extensible groups correctly
  src/utilities/idf/IdfObject.cpp
  src/utilities/idf/Test/IdfObject_GTest.cpp
Labels: Pull Request - Ready for CI, Ready for Merge, component - Utilities Other
