Repository NREL/OpenStudio, pull requests merged in 2021-09, with the labels that each got.

#4401 Update to new stable tag from Github Actions CI (includes CP720 fix)
  ConanInstall.cmake
Labels: Pull Request - Ready for CI, component - Conan

#4407 Add AirLoopHVAC to ThreeJS user data
  resources/utilities/Geometry/threejs.json
  src/model/ThreeJSForwardTranslator.cpp
  src/utilities/geometry/Test/ThreeJS_GTest.cpp
  src/utilities/geometry/ThreeJS.cpp
  src/utilities/geometry/ThreeJS.hpp
Labels: component - Utilities Geometry, Pull Request - Ready for CI

#4427 Fix #4423 - enable coverage on one of the linux runners
  CMakeLists.txt
  ConanInstall.cmake
  Jenkinsfile_develop_code_coverage
  src/model/CMakeLists.txt
  src/model/CurveFunctionalPressureDrop.cpp
  src/model/test/CurveFunctionalPressureDrop_GTest.cpp
Labels: Developer Issue, component - Testing, Pull Request - Ready for CI

#4418 Resolves #4395 Add in CLI option to use epJSON
  src/cli/openstudio_cli.rb
Labels: component - CLI, Pull Request - Ready for CI

#4440 Fix #4439 - Correctly Reverse Translate gbXML Schedules
  resources/CMakeLists.txt
  resources/gbxml/TestSchedules.xml
  src/gbxml/MapSchedules.cpp
  src/gbxml/Test/ReverseTranslator_GTest.cpp
Labels: severity - Normal Bug, component - gbXML, Pull Request - Ready for CI, Ready for Merge

#4402 Addresses #3910, realign OS:SizingPeriod:DesignDay with E+ IDD
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator/ForwardTranslateDesignDay.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateSizingPeriodDesignDay.cpp
  src/energyplus/Test/DesignDay_GTest.cpp
  src/model/CMakeLists.txt
  src/model/DesignDay.cpp
  src/model/DesignDay.hpp
  src/model/DesignDay_Impl.hpp
  src/model/Model.cpp
  src/model/test/DesignDay_GTest.cpp
  src/osversion/VersionTranslator.cpp
  src/osversion/test/3_3_0/test_vt_DesignDay.osm
  src/osversion/test/3_3_0/test_vt_DesignDay.rb
  src/osversion/test/VersionTranslator_GTest.cpp
Labels: Enhancement Request, component - Model, Pull Request - Ready for CI, IDDChange

#4450 Fix #4446 - add SizingSystem::autosizedOccupantDiversity.
  src/model/SizingSystem.cpp
  src/model/SizingSystem.hpp
  src/model/SizingSystem_Impl.hpp
Labels: component - Model, Pull Request - Ready for CI
