Repository NREL/OpenStudio, pull requests merged in 2021-04, with the labels that each got.

#4235 Fix #4111 - Shading:Building is improperly mapped when "World" coordinates are used for Rectangular Surfaces
  src/energyplus/GeometryTranslator.cpp
  src/energyplus/GeometryTranslator.hpp
  src/energyplus/Test/GeometryTranslator_GTest.cpp
Labels: Pull Request - Ready for CI, component - Geometry Translator, component - IDF Translation, severity - Minor Bug

#4266 Hotfix #4265 following #3863 - Do not translate ControllerList if no external controllers for AirLoopHVACDedicatedOutdoorAirSystem
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVACOutdoorAirSystem.cpp
  src/energyplus/Test/AirLoopHVACDedicatedOutdoorAirSystem_GTest.cpp
  src/model/AirLoopHVAC.cpp
  src/model/AirLoopHVACOutdoorAirSystem.cpp
Labels: Pull Request - Ready for CI, component - HVAC, component - IDF Translation

#4248 Minimal Fix for #4247 - Enforce name unicity in ModeObjects by adding \required-field to name
  resources/model/OpenStudio.idd
  src/utilities/idf/Test/WorkspaceObject_GTest.cpp
Labels: Pull Request - Ready for CI, component - Model, component - Utilities Other

#4271 Update EnergyPlus to 9.5.0
  CMakeLists.txt
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_2_0.md
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVACUnitaryHeatPumpAirToAir.cpp
  src/model/FanComponentModel.cpp
  src/osversion/VersionTranslator.cpp
  src/osversion/VersionTranslator.hpp
  src/osversion/test/3_2_0/test_vt_CoilCoolingWaterToAirHeatPumpEquationFit.osm
  src/osversion/test/3_2_0/test_vt_CoilHeatingWaterToAirHeatPumpEquationFit.osm
  src/osversion/test/3_2_0/test_vt_ConstructionAirBoundary.osm
  src/osversion/test/3_2_0/test_vt_ConstructionAirBoundary.rb
  src/osversion/test/3_2_0/test_vt_EquationFitCoils.rb
  src/osversion/test/3_2_0/test_vt_HeatPumpWaterToWaterEquationFitCooling.osm
  src/osversion/test/3_2_0/test_vt_HeatPumpWaterToWaterEquationFitHeating.osm
  src/osversion/test/3_2_0/test_vt_ZoneAirMassFlowConservation.osm
  src/osversion/test/3_2_0/test_vt_ZoneAirMassFlowConservation.rb
  src/osversion/test/3_2_0/test_vt_ZoneHVACLowTempRadiantVarFlow_Coils.osm
  src/osversion/test/3_2_0/test_vt_ZoneHVACLowTempRadiantVarFlow_Coils.rb
  src/osversion/test/VersionTranslator_GTest.cpp
Labels: Developer Issue, Pull Request - Ready for CI

#4272 update gems to include openstudio-standards 0.2.13.rc2
  CMakeLists.txt
Labels: Enhancement Request, Pull Request - Ready for CI, component - CLI

#4273 Benchmark build error
  src/utilities/idf/Test/Workspace_Benchmark.cpp
Labels: Developer Issue

#4061 Fix #4060 Cloning a DualDuct AirLoopHVAC breaks the existing loop
  src/model/AirLoopHVAC.cpp
  src/model/test/AirLoopHVAC_GTest.cpp
Labels: Pull Request - Ready for CI, component - HVAC, severity - Normal Bug

#4081 #4077 Remove name field from common HVAC data objects that are not visible to user
  resources/model/OpenStudio.idd
  src/model/Connection.cpp
  src/model/PortList.cpp
  src/model/test/AirTerminalSingleDuctConstantVolumeFourPipeInduction_GTest.cpp
  src/model/test/AirTerminalSingleDuctParallelPIUReheat_GTest.cpp
  src/model/test/AirTerminalSingleDuctSeriesPIUReheat_GTest.cpp
  src/model/test/Connection_GTest.cpp
  src/osversion/VersionTranslator.cpp
  src/osversion/test/VersionTranslator_GTest.cpp
  src/utilities/idd/IddObject.cpp
  src/utilities/idf/WorkspaceObject.cpp
Labels: Enhancement Request, Pull Request - Ready for CI, component - HVAC, component - Model

#4253 Fix #3905 - Allow ZoneHVAC:TerminalUnit:VariableRefrigerantFlow to connect to AirLoopHVAC
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVAC.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateZoneHVACTerminalUnitVariableRefrigerantFlow.cpp
  src/energyplus/Test/ZoneHVACTerminalUnitVariableRefrigerantFlow_GTest.cpp
  src/model/AirLoopHVACOutdoorAirSystem.cpp
  src/model/ZoneHVACTerminalUnitVariableRefrigerantFlow.cpp
  src/model/ZoneHVACTerminalUnitVariableRefrigerantFlow.hpp
  src/model/ZoneHVACTerminalUnitVariableRefrigerantFlow_Impl.hpp
  src/model/test/ZoneHVACTerminalUnitVariableRefrigerantFlow_GTest.cpp
  src/osversion/VersionTranslator.cpp
  src/osversion/test/3_1_1/test_vt_ZoneHVACTerminalUnitVariableRefrigerantFlow.osm
  src/osversion/test/3_1_1/test_vt_ZoneHVACTerminalUnitVariableRefrigerantFlow.rb
  src/osversion/test/VersionTranslator_GTest.cpp
Labels: Enhancement Request, Pull Request - Ready for CI, Ready for Merge, component - IDF Translation, component - Model

#4256 Fix #4254 - Set ComponentType::COOLING for EvaporativeFluidCoolerTwoSpeed
  src/energyplus/ForwardTranslator/ForwardTranslatePlantEquipmentOperationSchemes.cpp
  src/energyplus/Test/PlantEquipmentOperationSchemes_GTest.cpp
Labels: Pull Request - Ready for CI, component - HVAC, component - IDF Translation

#4275 Geometry improvements review
  Jenkinsfile_develop_osx
  Jenkinsfile_develop_ubuntu_1804
  Jenkinsfile_develop_ubuntu_2004
  Jenkinsfile_develop_windows
  resources/model/15023_Model12.osm
  resources/model/floorplan_school.osm
  ruby/test/Issue_2560_Test.rb
  ruby/test/Polygon3d_Join_Test.rb
  ruby/test/RemoveSpikes&Overlaps_TZ46_TZ47_Test.rb
  ruby/test/RemoveSpikesAndOverlaps_TZ46_TZ47_Test.rb
  ruby/test/model.rb
  src/model/Building.cpp
  src/model/Space.cpp
  src/model/Surface.cpp
  src/model/test/Space_GTest.cpp
  src/utilities/CMakeLists.txt
  src/utilities/geometry/BoundingBox.hpp
  src/utilities/geometry/Intersection.cpp
  src/utilities/geometry/Polygon3d.cpp
  src/utilities/geometry/Test/Intersection_GTest.cpp
Labels: Pull Request - Ready for CI, component - Model, component - Utilities Geometry

#4276 Fix #323 - Catch lexical_cast errors when reading XML
  resources/CMakeLists.txt
  resources/utilities/BCL/Components/323_wrongXMLType_float/component.xml
  resources/utilities/BCL/Components/323_wrongXMLType_int/component.xml
  src/utilities/bcl/BCLComponent.cpp
  src/utilities/bcl/BCLComponent.hpp
  src/utilities/bcl/test/BCLComponent_GTest.cpp
Labels: Pull Request - Ready for CI, component - Utilities Other

#4277 Fix #125 Fix #1559 - Treat ComponentData as a ResourceObject so ResourceObjects from BCL can be purged
  src/model/ComponentData.cpp
  src/model/ComponentData.hpp
  src/model/ComponentData_Impl.hpp
  src/model/test/Component_GTest.cpp
Labels: Pull Request - Ready for CI, component - Model, severity - Minor Bug

#4283 Fix #4282 - Bring back RemoteBCL in swig
  src/utilities/sql/SqlFile.i
Labels: Developer Issue, Pull Request - Ready for CI, component - Ruby bindings, component - Utilities Other

#4278 Fix #1099 - Improve checksum performance
  src/generateiddfactory/CMakeLists.txt
  src/utilities/CMakeLists.txt
  src/utilities/core/Checksum.cpp
  src/utilities/core/Checksum.hpp
  src/utilities/core/test/Checksum_Benchmark.cpp
Labels: Performance, Pull Request - Ready for CI, component - Utilities Other

#4284 Post #4282 - EpwFile bad swig is back, ignore it
  developer/ruby/FindMissingSWIGTypes.rb
Labels: Developer Issue

#4291 Updating openstudio-gems
  CMakeLists.txt
  Jenkinsfile_develop_osx
  Jenkinsfile_develop_ubuntu_1804
  Jenkinsfile_develop_ubuntu_2004
  Jenkinsfile_develop_windows
Labels: Pull Request - Ready for CI, component - CLI

#4292 Coordinate default values for outdoor air method
  resources/model/OpenStudio.idd
  src/model/ControllerMechanicalVentilation.cpp
  src/model/test/AirLoopHVAC_GTest.cpp
Labels: IDDChange, Pull Request - Ready for CI, component - Model

#4296 Issue 4288 demand side vrf
  src/energyplus/ForwardTranslator/ForwardTranslateZoneHVACTerminalUnitVariableRefrigerantFlow.cpp
  src/energyplus/Test/ZoneHVACTerminalUnitVariableRefrigerantFlow_GTest.cpp
Labels: Pull Request - Ready for CI

#4299 Geometry Improvements
  src/utilities/geometry/Intersection.cpp
Labels: component - Utilities Geometry

#4303 Update gems for standards release 0.2.13 and ext gem 0.4.2
  CMakeLists.txt
  src/utilities/geometry/Intersection.cpp
Labels: Pull Request - Ready for CI, component - CLI

#4285 Fix #4014 - Cannot download Components from remote BCL: handle crash when times out + add ability to change timeout on http client
  src/utilities/bcl/RemoteBCL.cpp
  src/utilities/bcl/RemoteBCL.hpp
  src/utilities/bcl/test/BCL_GTest.cpp
Labels: Pull Request - Ready for CI, component - Utilities Other

#4308 update conan remotes for bintray sunset
  ConanInstall.cmake
Labels: Developer Issue, Pull Request - Ready for CI

#4310 Update bincrafters conan remote and remove "--update" in conan calls
  ConanInstall.cmake
Labels: Developer Issue, component - Conan
