Repository NREL/OpenStudio, pull requests merged in 2022-08, with the labels that each got.

#4640 Fix python bindings github workflows with C++20
  .github/workflows/python_bindings.yml
Labels: Developer Issue, component - Python bindings

#4626 Fix #4601 - add some useful log messages when requested WWR is rejected
  src/model/test/Surface_GTest.cpp
  src/utilities/geometry/Geometry.cpp
Labels: severity - Minor Bug, component - Utilities Geometry, component - Model, Pull Request - Ready for CI

#4592 Fix#127 - Fix volume calculation to match EnergyPlus
  src/model/ModelGeometry.i
  src/model/Space.cpp
  src/model/Space.hpp
  src/model/Space_Impl.hpp
  src/model/test/Space_GTest.cpp
  src/utilities/CMakeLists.txt
  src/utilities/geometry/Geometry.cpp
  src/utilities/geometry/Geometry.hpp
  src/utilities/geometry/Geometry.i
  src/utilities/geometry/Polyhedron.cpp
  src/utilities/geometry/Polyhedron.hpp
  src/utilities/geometry/Test/Polyhedron_GTest.cpp
Labels: component - Utilities Geometry, Pull Request - Ready for CI, Ready for Merge

#4623 FloorspaceJS to OpenStudio reverse translator. FIrst implementation p…
  resources/CMakeLists.txt
  resources/utilities/Geometry/office_floorplan.json
  resources/utilities/Geometry/simple_test.json
  src/model/CMakeLists.txt
  src/model/FloorspaceReverseTranslator.cpp
  src/model/FloorspaceReverseTranslator.hpp
  src/model/FloorspaceReverseTranslator_Impl.hpp
  src/model/ModelGenerators.i
  src/model/test/FloorspaceReverseTranslator_GTest.cpp
  src/utilities/CMakeLists.txt
  src/utilities/floorspace/FSModel.cpp
  src/utilities/floorspace/FSModel.hpp
  src/utilities/floorspace/FSVisitor.hpp
Labels: component - Utilities Geometry, Pull Request - Ready for CI, component - Geometry Translator

#4577 gbXML translation fixes and enhancements
  resources/CMakeLists.txt
  src/gbxml/CMakeLists.txt
  src/gbxml/ForwardTranslator.cpp
  src/gbxml/MapEnvelope.cpp
  src/gbxml/ReverseTranslator.cpp
  src/gbxml/Test/ForwardTranslator_GTest.cpp
  src/gbxml/Test/ReverseTranslator_GTest.cpp
  src/gbxml/resources/GreenBuildingXML_Ver6.01.xsd
  src/utilities/xml/Test/XMLValidatorFixture.cpp
  src/utilities/xml/Test/XMLValidator_GTest.cpp
  src/utilities/xml/XMLValidator.cpp
  src/utilities/xml/XMLValidator.hpp
Labels: severity - Minor Bug, Enhancement Request, component - gbXML, Pull Request - Ready for CI

#4621 #4551 - Add minimum/maximum values to numeric OSArguments and use it in validateUserArgument
  src/cli/measure_manager.rb
  src/measure/CMakeLists.txt
  src/measure/OSArgument.cpp
  src/measure/OSMeasureInfoGetter.cpp
  src/measure/OSRunner.cpp
  src/measure/test/OSMeasure_GTest.cpp
Labels: component - Measures, component - Measure Manager, Pull Request - Ready for CI

#4643 Update docs for setThermalConductance and setThermalResistance changing thickness
  src/model/AirGap_Impl.hpp
  src/model/MasslessOpaqueMaterial_Impl.hpp
  src/model/ModelPartitionMaterial_Impl.hpp
  src/model/OpaqueMaterial.hpp
  src/model/OpaqueMaterial_Impl.hpp
  src/model/RefractionExtinctionGlazing.hpp
  src/model/RoofVegetation_Impl.hpp
  src/model/Screen.hpp
  src/model/Screen_Impl.hpp
  src/model/Shade.hpp
  src/model/Shade_Impl.hpp
  src/model/StandardGlazing.cpp
  src/model/StandardGlazing.hpp
  src/model/StandardGlazing_Impl.hpp
  src/model/StandardOpaqueMaterial.cpp
  src/model/StandardOpaqueMaterial.hpp
  src/model/StandardOpaqueMaterial_Impl.hpp
Labels: severity - Minor Bug, component - Model, Pull Request - Ready for CI

#4650 Enable centos7 for c++20
  CMakeLists.txt
  ConanInstall.cmake
Labels: Developer Issue, Pull Request - Ready for CI

#4642 Addresses #4575, API change for EvaporativeCoolerFluid:SingleSpeed
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_4_1_TBD.md
  resources/energyplus/ProposedEnergy+.idd
  resources/model/OpenStudio.idd
  src/model/EvaporativeFluidCoolerSingleSpeed.cpp
  src/model/EvaporativeFluidCoolerSingleSpeed.hpp
  src/model/EvaporativeFluidCoolerSingleSpeed_Impl.hpp
  src/model/test/EvaporativeFluidCoolerSingleSpeed_GTest.cpp
  src/model/test/EvaporativeFluidCoolerTwoSpeed_GTest.cpp
Labels: Enhancement Request, component - Model, Pull Request - Ready for CI, IDDChange, APIChange

#4644 Addresses #4575, API change for Coil:Cooling:DX:SingleSpeed and Coil:Cooling:DX:TwoSpeed
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_4_1_TBD.md
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateCoilCoolingDXSingleSpeed.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateCoilCoolingDXTwoSpeed.cpp
  src/isomodel/ForwardTranslator.cpp
  src/model/CoilCoolingDXSingleSpeed.cpp
  src/model/CoilCoolingDXSingleSpeed.hpp
  src/model/CoilCoolingDXSingleSpeed_Impl.hpp
  src/model/CoilCoolingDXTwoSpeed.cpp
  src/model/CoilCoolingDXTwoSpeed.hpp
  src/model/CoilCoolingDXTwoSpeed_Impl.hpp
  src/model/test/CoilCoolingDXSingleSpeed_GTest.cpp
  src/model/test/CoilCoolingDXTwoSpeed_GTest.cpp
  src/sdd/MapHVAC.cpp
Labels: Enhancement Request, component - Model, Pull Request - Ready for CI, IDDChange, APIChange
