Repository NREL/OpenStudio, pull requests merged in 2022-04, with the labels that each got.

#4505 Addresses #4477, improve handling of invalid values passed to SDK
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ReverseTranslator.cpp
  src/energyplus/Test/AirLoopHVACDedicatedOutdoorAirSystem_GTest.cpp
  src/energyplus/Test/ConstructionWithInternalSource_GTest.cpp
  src/energyplus/Test/CurveQuadLinear_GTest.cpp
  src/energyplus/Test/CurveQuintLinear_GTest.cpp
  src/energyplus/Test/DesignDay_GTest.cpp
  src/energyplus/Test/EMS_GTest.cpp
  src/energyplus/Test/ElectricLoadCenterStorageLiIonNMCBattery_GTest.cpp
  src/energyplus/Test/EnvironmentalImpactFactors_GTest.cpp
  src/energyplus/Test/FanComponentModel_GTest.cpp
  src/energyplus/Test/FanSystemModel_GTest.cpp
  src/energyplus/Test/FuelFactors_GTest.cpp
  src/energyplus/Test/GeneratorMicroTurbine_GTest.cpp
  src/energyplus/Test/GeneratorWindTurbine_GTest.cpp
  src/energyplus/Test/OutputControlFiles_GTest.cpp
  src/energyplus/Test/OutputDebuggingData_GTest.cpp
  src/energyplus/Test/OutputDiagnostics_GTest.cpp
  src/energyplus/Test/OutputEnvironmentalImpactFactors_GTest.cpp
  src/energyplus/Test/OutputJSON_GTest.cpp
  src/energyplus/Test/PhotovoltaicPerformanceSandia_GTest.cpp
  src/energyplus/Test/ReverseTranslator_GTest.cpp
  src/energyplus/Test/RunPeriodControlSpecialDays_GTest.cpp
  src/energyplus/Test/ScheduleRuleset_GTest.cpp
  src/energyplus/Test/ShadingControl_GTest.cpp
  src/energyplus/Test/ShadowCalculation_GTest.cpp
  src/energyplus/Test/SimulationControl_GTest.cpp
  src/energyplus/Test/SizingSystem_GTest.cpp
  src/energyplus/Test/SpaceInfiltrationFlowCoefficient_GTest.cpp
  src/energyplus/Test/SurfacePropertyLocalEnvironment_GTest.cpp
  src/energyplus/Test/SurfacePropertySurroundingSurfaces_GTest.cpp
  src/energyplus/Test/SwimmingPoolIndoor_GTest.cpp
  src/energyplus/Test/ThermalZone_GTest.cpp
  src/energyplus/Test/WaterHeaterMixed_GTest.cpp
  src/epjson/test/epJSONTranslator_GTest.cpp
  src/model/Model.cpp
  src/osversion/VersionTranslator.cpp
  src/utilities/idf/IdfFile.cpp
  src/utilities/idf/IdfObject.cpp
  src/utilities/idf/Test/Validity_GTest.cpp
  src/utilities/idf/Test/WorkspaceObject_GTest.cpp
  src/utilities/idf/Test/Workspace_GTest.cpp
  src/utilities/idf/ValidityEnums.hpp
  src/utilities/idf/ValidityReport.hpp
  src/utilities/idf/Workspace.cpp
  src/utilities/idf/Workspace.hpp
  src/utilities/idf/WorkspaceObject.cpp
  src/utilities/idf/Workspace_Impl.hpp
  src/utilities/idf/page.hpp
Labels: Enhancement Request, component - Model, Pull Request - Ready for CI, APIChange

#4564 update openstudio gems for standards 0.2.16-rc2
  CMakeLists.txt
Labels: Pull Request - Ready for CI

#4567 Add Python 3.10 support for Windows
  .github/workflows/clangformat.yml
  .github/workflows/cppcheck.yml
  .github/workflows/python_bindings.yml
Labels: component - Python bindings
