Repository NREL/OpenStudio, pull requests merged in 2022-06, with the labels that each got.

#4316 Addresses #2610, insertComponent can create duplicate unique model objects
  src/model/Model.cpp
  src/model/test/Component_GTest.cpp
Labels: severity - Major Bug, component - Model, Pull Request - Ready for CI

#4612 Fix build error due to GLTF refactor on Windows
  src/gltf/GltfUtils.cpp
Labels: Developer Issue, Pull Request - Ready for CI, component - Geometry Translator

#4614 Support Ubuntu 18.04 and Centos7
  CMakeLists.txt
  ConanInstall.cmake
Labels: Developer Issue, Pull Request - Ready for CI

#4484 Enable C++20
  CMakeLists.txt
  ProjectMacros.cmake
  meta/CMakeLists.txt
  meta/debian/postinst
  src/airflow/contam/ForwardTranslator.cpp
  src/cli/RubyInterpreter.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateScheduleRuleset.cpp
  src/generateiddfactory/GenerateIddFactoryOutFiles.hpp
  src/isomodel/SimModel.cpp
  src/model/CurveExponentialSkewNormal.cpp
  src/model/RenderingColor.cpp
  src/utilities/CMakeLists.txt
  src/utilities/UtilitiesPlot.i
  src/utilities/bcl/BCLComponent.cpp
  src/utilities/bcl/LocalBCL.i
  src/utilities/bcl/test/BCLMeasure_GTest.cpp
  src/utilities/core/CommonInclude.i
  src/utilities/core/Core.i
  src/utilities/core/EnumBase.hpp
  src/utilities/core/StringHelpers.cpp
  src/utilities/core/System.cpp
  src/utilities/core/System.hpp
  src/utilities/core/UpdateManager.cpp
  src/utilities/core/UpdateManager.hpp
  src/utilities/core/UpdateManager.i
  src/utilities/core/test/System_GTest.cpp
  src/utilities/core/test/UpdateManager_GTest.cpp
  src/utilities/filetypes/EpwFile.cpp
  src/utilities/geometry/Geometry.cpp
  src/utilities/geometry/Intersection.cpp
  src/utilities/geometry/Plane.cpp
  src/utilities/geometry/Transformation.cpp
  src/utilities/idf/Idf.i
  src/utilities/mainpage.hpp
  src/utilities/math/FloatCompare.hpp
  src/utilities/plot/ProgressBar.cpp
Labels: Developer Issue, Pull Request - Ready for CI

#4587 XML schema validation
  CMakeLists.txt
  ConanInstall.cmake
  ProjectMacros.cmake
  embedded/CMakeLists.txt
  embedded/embedded_files.hxx.in
  python/openstudio.py
  resources/CMakeLists.txt
  resources/gbxml/schema/GreenBuildingXML_Ver6.01.xsd
  resources/utilities/xml/base.xml
  resources/utilities/xml/hpxml_with_error.xml
  resources/utilities/xml/schema/HPXML.xsd
  resources/utilities/xml/schema/HPXMLBaseElements.xsd
  resources/utilities/xml/schema/HPXMLDataTypes.xsd
  resources/utilities/xml/schema/HPXMLvalidator.xml
  resources/utilities/xml/schema/HPXMLvalidator.xslt
  ruby/init_openstudio.cpp
  src/gbxml/ForwardTranslator.cpp
  src/gbxml/ForwardTranslator.hpp
  src/gbxml/ReverseTranslator.cpp
  src/gbxml/Test/ForwardTranslator_GTest.cpp
  src/lib/CMakeLists.txt
  src/utilities/CMakeLists.txt
  src/utilities/Utilities.i
  src/utilities/UtilitiesXML.i
  src/utilities/xml/CMakeLists.txt
  src/utilities/xml/Test/XMLValidatorFixture.cpp
  src/utilities/xml/Test/XMLValidatorFixture.hpp
  src/utilities/xml/Test/XMLValidator_GTest.cpp
  src/utilities/xml/XMLErrors.cpp
  src/utilities/xml/XMLErrors.hpp
  src/utilities/xml/XMLInitializer.cpp
  src/utilities/xml/XMLInitializer.hpp
  src/utilities/xml/XMLUtils.hpp
  src/utilities/xml/XMLValidator.cpp
  src/utilities/xml/XMLValidator.hpp
  src/utilities/xml/XMLValidator.i
  src/utilities/xml/resources/RNG2Schtrn.xsl
  src/utilities/xml/resources/XSD2Schtrn.xsl
  src/utilities/xml/resources/iso_abstract_expand.xsl
  src/utilities/xml/resources/iso_dsdl_include.xsl
  src/utilities/xml/resources/iso_schematron_message.xsl
  src/utilities/xml/resources/iso_schematron_skeleton_for_xslt1.xsl
  src/utilities/xml/resources/iso_svrl_for_xslt1.xsl
Labels: Enhancement Request, component - gbXML, Pull Request - Ready for CI

#4619 Fix #4543 - E+ 22.1.0: Wrap SetpointManager:SystemNodeReset:Temperature and SetpointManager:SystemNodeReset:Humidity
  developer/ruby/SubProjectClassGenerators/ProjectClassGenerator.rb
  developer/ruby/SubProjectClassGenerators/SubProjectClassGenerator.rb
  developer/ruby/SubProjectClassGenerators/TranslatorGenerator.rb
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateSetpointManagerSystemNodeResetHumidity.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateSetpointManagerSystemNodeResetTemperature.cpp
  src/energyplus/ReverseTranslator.cpp
  src/energyplus/ReverseTranslator.hpp
  src/energyplus/ReverseTranslator/ReverseTranslateSetpointManagerSystemNodeResetHumidity.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateSetpointManagerSystemNodeResetTemperature.cpp
  src/energyplus/Test/SetpointManagerSystemNodeResetHumidity_GTest.cpp
  src/energyplus/Test/SetpointManagerSystemNodeResetTemperature_GTest.cpp
  src/model/CMakeLists.txt
  src/model/ConcreteModelObjects.hpp
  src/model/Model.cpp
  src/model/ModelHVAC.i
  src/model/SetpointManagerSystemNodeResetHumidity.cpp
  src/model/SetpointManagerSystemNodeResetHumidity.hpp
  src/model/SetpointManagerSystemNodeResetHumidity_Impl.hpp
  src/model/SetpointManagerSystemNodeResetTemperature.cpp
  src/model/SetpointManagerSystemNodeResetTemperature.hpp
  src/model/SetpointManagerSystemNodeResetTemperature_Impl.hpp
  src/model/test/SetpointManagerSystemNodeResetHumidity_GTest.cpp
  src/model/test/SetpointManagerSystemNodeResetTemperature_GTest.cpp
Labels: Enhancement Request, component - HVAC, component - Model, Pull Request - Ready for CI
