Repository NREL/OpenStudio, pull requests merged in 2022-07, with the labels that each got.

#4622 Addresses #4620, harmonize (remove?) max. material thickness limit
  resources/model/OpenStudio.idd
  src/model/CMakeLists.txt
  src/model/test/StandardOpaqueMaterial_GTest.cpp
Labels: component - Model, Pull Request - Ready for CI, IDDChange

#4616 Addresses #4611, allow non-Quadratic curves for the EIR-f-PLR for the Chiller:Electric:EIR object
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_4_1_TBD.md
  src/energyplus/ForwardTranslator/ForwardTranslateChillerElectricEIR.cpp
  src/model/ChillerElectricEIR.cpp
  src/model/ChillerElectricEIR.hpp
  src/model/ChillerElectricEIR_Impl.hpp
  src/model/test/ChillerElectricEIR_GTest.cpp
Labels: Enhancement Request, component - Model, Pull Request - Ready for CI, APIChange

#4627 Fix #4547 - FT always warns about missing Design Specification Outdoor Air for AirTerminalSingleDuctInletSideMixer
  src/energyplus/ForwardTranslator/ForwardTranslateAirTerminalSingleDuctInletSideMixer.cpp
  src/energyplus/Test/AirTerminalSingleDuctInletSideMixer_GTest.cpp
Labels: severity - Minor Bug, component - HVAC, component - Model, Pull Request - Ready for CI
