Repository NREL/OpenStudio, pull requests merged in 2022-05, with the labels that each got.

#4580 Add color for Foundation boundary condition
  src/model/GltfForwardTranslator.cpp
  src/utilities/geometry/ThreeJS.cpp
Labels: Pull Request - Ready for CI, component - Geometry Translator

#4582 Fix installer: correctly install vcomp140.dll
  CMakeLists.txt
Labels: severity - Major Bug, component - Installer/Platform

#4568 Installer adjustments for clang 13.1.6+, and some mac arm64 adjustments
  CMakeLists.txt
  ConanInstall.cmake
  python/setup.py
  src/cli/test/bundle_git/Gemfile
  src/energyplus/Test/ScheduleInterval_GTest.cpp
  src/isomodel/ForwardTranslator.cpp
  src/model/test/Space_GTest.cpp
Labels: Developer Issue, component - Model, Pull Request - Ready for CI, component - Python bindings

#4579 Add Volume field to Space
  resources/model/OpenStudio.idd
  src/model/Space.cpp
  src/model/Space.hpp
  src/model/Space_Impl.hpp
  src/model/test/Space_GTest.cpp
Labels: component - Model, Pull Request - Ready for CI, IDDChange

#4593 Fix ZoneInfiltration:DesignFlowRate FT when Space FT enabled
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/Test/SpaceInfiltrationDesignFlowRate_GTest.cpp
Labels: component - IDF Translation, Pull Request - Ready for CI

#4597 Hotfix GLTF extras broke running tests in Debug
  src/model/GltfBoundingBoxWrapper.cpp
  src/model/GltfBoundingBoxWrapper.hpp
  src/model/GltfForwardTranslator.cpp
  src/model/GltfMetaDataWrapper.cpp
  src/model/GltfMetaDataWrapper.hpp
  src/model/GltfModelObjectMetadataWrapper.cpp
  src/model/GltfModelObjectMetadataWrapper.hpp
  src/model/GltfUserDataWrapper.cpp
  src/model/GltfUserDataWrapper.hpp
Labels: Developer Issue, component - Utilities Geometry, component - Model, Pull Request - Ready for CI

#4594 Bump OS ruby to use fPIC and zlib/minizip to 1.2.12 to match
  ConanInstall.cmake
Labels: Developer Issue, component - Conan

#4590 Correct typo: Newell, not Newall
  src/utilities/geometry/Geometry.cpp
  src/utilities/geometry/Geometry.hpp
  src/utilities/geometry/Polygon3d.cpp
  src/utilities/geometry/Polygon3d.hpp
  src/utilities/geometry/Test/Geometry_GTest.cpp
Labels: severity - Minor Bug, component - Geometry Translator
