Repository NREL/OpenStudio, pull requests merged in 2022-03, with the labels that each got.

#4528 Cooling tower fixes and tests
  resources/energyplus/ProposedEnergy+.idd
  resources/model/OpenStudio.idd
  src/model/CoolingTowerSingleSpeed.cpp
  src/model/CoolingTowerSingleSpeed.hpp
  src/model/CoolingTowerSingleSpeed_Impl.hpp
  src/model/CoolingTowerTwoSpeed.cpp
  src/model/CoolingTowerTwoSpeed.hpp
  src/model/CoolingTowerTwoSpeed_Impl.hpp
  src/model/CoolingTowerVariableSpeed.cpp
  src/model/CoolingTowerVariableSpeed.hpp
  src/model/CoolingTowerVariableSpeed_Impl.hpp
  src/model/test/CoolingTowerSingleSpeed_GTest.cpp
  src/model/test/CoolingTowerTwoSpeed_GTest.cpp
  src/model/test/CoolingTowerVariableSpeed_GTest.cpp
Labels: severity - Normal Bug, Pull Request - Ready for CI, IDDChange

#4548 Addresses #4531, breaking changes
  src/model/CoolingTowerSingleSpeed.cpp
  src/model/CoolingTowerSingleSpeed.hpp
  src/model/CoolingTowerSingleSpeed_Impl.hpp
  src/model/CoolingTowerTwoSpeed.cpp
  src/model/CoolingTowerTwoSpeed.hpp
  src/model/CoolingTowerTwoSpeed_Impl.hpp
  src/model/CoolingTowerVariableSpeed.cpp
  src/model/CoolingTowerVariableSpeed.hpp
  src/model/CoolingTowerVariableSpeed_Impl.hpp
  src/model/PlantLoop.cpp
  src/model/PlantLoop.hpp
  src/model/PlantLoop_Impl.hpp
  src/model/test/CoolingTowerSingleSpeed_GTest.cpp
  src/model/test/CoolingTowerTwoSpeed_GTest.cpp
  src/model/test/CoolingTowerVariableSpeed_GTest.cpp
  src/model/test/PlantLoop_GTest.cpp
Labels: component - Model, Pull Request - Ready for CI, APIChange

#4550 Addresses #4403, add Sql helper methods to retrieve U-factors, SHGC, or VT for glazing systems
  resources/CMakeLists.txt
  resources/energyplus/FrameAndDivider/in.idf
  src/model/SubSurface.cpp
  src/model/SubSurface.hpp
  src/model/SubSurface_Impl.hpp
  src/model/test/SubSurface_GTest.cpp
  src/utilities/sql/SqlFile.cpp
  src/utilities/sql/SqlFile.hpp
  src/utilities/sql/SqlFile_Impl.cpp
  src/utilities/sql/SqlFile_Impl.hpp
  src/utilities/sql/Test/SqlFile_GTest.cpp
Labels: Enhancement Request, component - Utilities Other, Pull Request - Ready for CI

#4553 HotFix #4550 - Remove getExteriorFenestrationValue from public API
  src/model/SubSurface.cpp
  src/model/SubSurface.hpp
  src/utilities/sql/SqlFile.hpp
Labels: Developer Issue, component - Model

#4556 Update to v22.1.0-RC1
  CMakeLists.txt
Labels: Pull Request - Ready for CI

#4554 Gtest code gen upgrade
  developer/ruby/SubProjectClassGenerators/ModelClassGenerator.rb
Labels: Developer Issue, Ready for Merge

#4555 Adjustments to WindowPropertyFrameAndDivider and new model gtest
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateWindowPropertyFrameAndDivider.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateWindowPropertyFrameAndDivider.cpp
  src/model/WindowPropertyFrameAndDivider.cpp
  src/model/WindowPropertyFrameAndDivider.hpp
  src/model/WindowPropertyFrameAndDivider_Impl.hpp
  src/model/test/WindowPropertyFrameAndDivider_GTest.cpp
Labels: component - Model, Pull Request - Ready for CI, IDDChange, APIChange

#4557 update gems for standards 0.2.16.rc1
  CMakeLists.txt
Labels: component - CLI, Pull Request - Ready for CI

#4558 Update macOS M1 (arm64) dependencies
  CMakeLists.txt
Labels: Developer Issue

#4560 Update EnergyPlus to v22.1.0
  CMakeLists.txt
Labels: Pull Request - Ready for CI
