Repository NREL/OpenStudio, pull requests merged in 2022-12, with the labels that each got.

#4742 Fix #4741 - Python binding version on mac with GitHub Actions
  .github/workflows/python_bindings.yml
Labels: component - Python bindings

#4755 Fix #4754 - Cloning an object that uses a TableLookup into another model doesn't bring the ModelObjectList and IndependentVariables
  src/model/TableLookup.cpp
  src/model/TableLookup_Impl.hpp
  src/model/test/TableLookup_GTest.cpp
Labels: component - Model, Pull Request - Ready for CI

#4749 Support "No Load Supply Air Flow Rate Ratio" on UnitarySystemPerformance:Multispeed
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateUnitarySystemPerformanceMultispeed.cpp
  src/model/UnitarySystemPerformanceMultispeed.cpp
  src/model/UnitarySystemPerformanceMultispeed.hpp
  src/model/UnitarySystemPerformanceMultispeed_Impl.hpp
  src/model/test/UnitarySystemPerformanceMultispeed_GTest.cpp
  src/osversion/VersionTranslator.cpp
  src/osversion/VersionTranslator.hpp
  src/osversion/test/3_5_1/test_vt_UnitarySystemPerformanceMultispeed.osm
  src/osversion/test/3_5_1/test_vt_UnitarySystemPerformanceMultispeed.rb
  src/osversion/test/VersionTranslator_GTest.cpp
Labels: component - Model, Pull Request - Ready for CI

#4751 Ruby gem addressable needs unicode.data.
  ruby/engine/CMakeLists.txt
Labels: severity - Normal Bug, component - CLI, Pull Request - Ready for CI

#4762 Fix #4761 - Cleanup temporary directory when doing *Schematron* XMLValidation
  src/utilities/xml/Test/XMLValidator_GTest.cpp
  src/utilities/xml/XMLValidator.cpp
  src/utilities/xml/XMLValidator.hpp
Labels: severity - Minor Bug, component - Utilities Other, Pull Request - Ready for CI

#4774 Fix #4773 - Remove double % sign in `Zone Thermal Comfort ASHRAE 55 Adaptive Model 80% Acceptability Status`
  src/model/People.cpp
  src/model/ThermalZone.cpp
Labels: severity - Minor Bug

#4779 Windows arg parsing
  ruby/engine/openstudio_cli.rb
Labels: component - CLI, Pull Request - Ready for CI
