Repository NREL/OpenStudio, pull requests merged in 2022-02, with the labels that each got.

#4485 4438 gbxml export
  src/gbxml/ForwardTranslator.cpp
  src/gbxml/Test/ForwardTranslator_GTest.cpp
  src/model/Model.cpp
Labels: Pull Request - Ready for CI

#4527 Gerard/4372 intersection issue found using create bar
  resources/CMakeLists.txt
  resources/model/offset_tests.osm
  src/model/Surface.cpp
  src/model/test/Model_GTest.cpp
  src/model/test/Space_GTest.cpp
  src/model/test/SubSurface_GTest.cpp
  src/utilities/geometry/Intersection.cpp
  src/utilities/geometry/Test/Intersection_GTest.cpp
Labels: severity - Major Bug, component - Utilities Geometry, Pull Request - Ready for CI

#4513 Addresses #4457, support gbXML translation where user-input <Name> is different from the id
  resources/CMakeLists.txt
  resources/gbxml/gbXMLStandard_Single_Family_Residential_2016.xml
  src/gbxml/ForwardTranslator.cpp
  src/gbxml/ForwardTranslator.hpp
  src/gbxml/MapEnvelope.cpp
  src/gbxml/ReverseTranslator.cpp
  src/gbxml/ReverseTranslator.hpp
  src/gbxml/Test/ForwardTranslator_GTest.cpp
  src/gbxml/Test/ReverseTranslator_GTest.cpp
  src/model/ModelObject.cpp
  src/model/ModelObject.hpp
  src/model/ModelObject_Impl.hpp
Labels: Enhancement Request, component - gbXML, Pull Request - Ready for CI

#4537 Review PR #4534 (for issue #4311) - Proposed changes
  src/model/WaterHeaterMixed.cpp
  src/model/WaterHeaterMixed.hpp
  src/model/WaterHeaterMixed_Impl.hpp
  src/model/WaterToWaterComponent_Impl.hpp
Labels: Developer Issue, component - HVAC
