Repository NREL/OpenStudio, pull requests merged in 2022-10, with the labels that each got.

#4700 Fix #4673 - Allow setting ZoneMixing objects at Space level
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator/ForwardTranslateZoneMixing.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateZoneCrossMixing.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateZoneMixing.cpp
  src/energyplus/Test/ZoneMixing_GTest.cpp
  src/model/ScheduleTypeRegistry.cpp
  src/model/Space.cpp
  src/model/Space.hpp
  src/model/Space_Impl.hpp
  src/model/ThermalZone.cpp
  src/model/ZoneMixing.cpp
  src/model/ZoneMixing.hpp
  src/model/ZoneMixing_Impl.hpp
  src/model/test/ZoneMixing_GTest.cpp
Labels: component - HVAC, component - Model, component - IDF Translation, Pull Request - Ready for CI, APIChange

#4701 Fix #4699 - E+ 22.2: ZoneHVAC:PackagedTerminal AirConditionner/HeatPump requires a supply air fan operating mode schedule
  CMakeLists.txt
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_5_0_TBD.md
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateZoneHVACPackagedTerminalAirConditioner.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateZoneHVACPackagedTerminalHeatPump.cpp
  src/model/ZoneHVACPackagedTerminalAirConditioner.cpp
  src/model/ZoneHVACPackagedTerminalAirConditioner.hpp
  src/model/ZoneHVACPackagedTerminalAirConditioner_Impl.hpp
  src/model/ZoneHVACPackagedTerminalHeatPump.cpp
  src/model/ZoneHVACPackagedTerminalHeatPump.hpp
  src/model/ZoneHVACPackagedTerminalHeatPump_Impl.hpp
  src/model/test/ZoneHVACPackagedTerminalAirConditioner_GTest.cpp
  src/model/test/ZoneHVACPackagedTerminalHeatPump_GTest.cpp
  src/osversion/VersionTranslator.cpp
  src/osversion/test/3_5_0/test_vt_ZoneHVACPackaged.osm
  src/osversion/test/3_5_0/test_vt_ZoneHVACPackaged.rb
  src/osversion/test/VersionTranslator_GTest.cpp
Labels: component - HVAC, component - IDF Translation, component - Version Translator, Pull Request - Ready for CI, APIChange

#4710 update gems for standard 0.2.17.rc1
  CMakeLists.txt
Labels: Pull Request - Ready for CI

#4674 4641 ruby shared lib
  CMakeLists.txt
  ConanInstall.cmake
  ruby/CMakeLists.txt
  ruby/README.md
  ruby/bindings/CMakeLists.txt
  ruby/bindings/InitRubyBindings.cpp
  ruby/bindings/InitRubyBindings.hpp
  ruby/engine/CMakeLists.txt
  ruby/engine/EmbeddedHelp.hpp
  ruby/engine/EmbeddedScripting.i
  ruby/engine/GC_Value.hpp
  ruby/engine/InitMacros.hxx.in
  ruby/engine/InitRuby.hpp
  ruby/engine/InitRubyEngine.cpp
  ruby/engine/InitRubyEngine.hpp
  ruby/engine/RubyEngine.cpp
  ruby/engine/RubyEngine.hpp
  ruby/engine/embedded_help.rb
  ruby/engine/measure_manager.rb
  ruby/engine/measure_manager_driver.rb
  ruby/engine/measure_manager_server.rb
  ruby/engine/measure_manager_test.rb
  ruby/engine/openstudio_cli.rb
  ruby/engine/openstudio_init_extended.rb
  ruby/interpreter/CMakeLists.txt
  ruby/interpreter/InitDeclarations.hpp
  ruby/interpreter/RubyEval.hpp
  ruby/interpreter/RubyException.hpp
  ruby/interpreter/RubyInterpreter.hpp
  ruby/module/CMakeLists.txt
  ruby/module/RubyAPI.hpp
  ruby/module/openstudio.rb
  ruby/module/openstudio/energyplus/find_energyplus.rb
  ruby/module/openstudio/measure/ShowRunnerOutput.rb
  ruby/module/openstudio/ruleset/ShowRunnerOutput.rb
  ruby/module/openstudio_rb.cpp
  ruby/openstudio_rb.cpp
  ruby/test/CMakeLists.txt
  ruby/test/openstudio_test.in
  src/cli/CMakeLists.txt
  src/cli/ScriptEngineGlobals.cpp
  src/cli/ScriptEngineGlobals.hpp
  src/cli/main.cpp
  src/scriptengine/CMakeLists.txt
  src/scriptengine/ScriptEngine.hpp
  src/utilities/CMakeLists.txt
  src/utilities/core/ApplicationPathHelpers.cxx.in
  src/utilities/core/ApplicationPathHelpers.hpp
  src/utilities/core/DynamicLibrary.hpp
  src/utilities/core/DynamicLibraryPOSIX.hpp
  src/utilities/core/DynamicLibraryWindows.hpp
Labels: Enhancement Request, component - CLI, Pull Request - Ready for CI, component - Ruby bindings

#4708 Setup gems and python stdlib
  CMakeLists.txt
  ConanInstall.cmake
  ProjectMacros.cmake
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_5_0_TBD.md
  python/SetupPython.cmake
  python/engine/CMakeLists.txt
  python/engine/PythonEngine.cpp
  python/engine/PythonEngine.hpp
  resources/model/OpenStudio.idd
  ruby/bindings/InitRubyBindings.cpp
  ruby/bindings/InitRubyBindings.hpp
  ruby/engine/CMakeLists.txt
  ruby/engine/RubyEngine.cpp
  ruby/engine/RubyEngine.hpp
  ruby/engine/embedded_gems.rb
  src/cli/CMakeLists.txt
  src/cli/MeasureUpdateCommand.hpp
  src/cli/RunCommand.cpp
  src/cli/RunCommand.hpp
  src/cli/UpdateCommand.cpp
  src/cli/UpdateCommand.hpp
  src/cli/main.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateZoneHVACPackagedTerminalAirConditioner.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateZoneHVACPackagedTerminalHeatPump.cpp
  src/lib/CMakeLists.txt
  src/model/ZoneHVACPackagedTerminalAirConditioner.cpp
  src/model/ZoneHVACPackagedTerminalAirConditioner.hpp
  src/model/ZoneHVACPackagedTerminalAirConditioner_Impl.hpp
  src/model/ZoneHVACPackagedTerminalHeatPump.cpp
  src/model/ZoneHVACPackagedTerminalHeatPump.hpp
  src/model/ZoneHVACPackagedTerminalHeatPump_Impl.hpp
  src/model/test/ZoneHVACPackagedTerminalAirConditioner_GTest.cpp
  src/model/test/ZoneHVACPackagedTerminalHeatPump_GTest.cpp
  src/osversion/VersionTranslator.cpp
  src/osversion/test/3_5_0/test_vt_ZoneHVACPackaged.osm
  src/osversion/test/3_5_0/test_vt_ZoneHVACPackaged.rb
  src/osversion/test/VersionTranslator_GTest.cpp
  src/scriptengine/ScriptEngine.hpp
  src/utilities/core/ApplicationPathHelpers.cxx.in
  src/utilities/core/test/ApplicationPathHelpers_GTest.cpp
  src/workflow/OSWorkflow.cpp
Labels: Developer Issue, component - CLI, Pull Request - Ready for CI, component - Ruby bindings, component - Python bindings

#4713 Deprecated methods csv
  developer/ruby/DeprecatedMethods.rb
  developer/ruby/deprecated_methods.csv
Labels: Developer Issue

#4723 Removes some debug statements in the labs subcommand
  CMakeLists.txt
  src/cli/MeasureUpdateCommand.cpp
  src/cli/main.cpp
  src/scriptengine/ScriptEngine.hpp
  src/workflow/OSWorkflow.cpp
Labels: Developer Issue, Pull Request - Ready for CI, component - Python bindings

#4726 Fix #4724 - ChillerElectricEIR correctly set Heat Recovery Leaving Temperature Setpoint Node
  Jenkinsfile_develop_osx
  Jenkinsfile_develop_ubuntu_1804
  Jenkinsfile_develop_ubuntu_2004
  Jenkinsfile_develop_windows
  resources/model/OpenStudio.idd
  src/model/test/ChillerElectricEIR_GTest.cpp
Labels: severity - Minor Bug, component - HVAC, component - Model, Pull Request - Ready for CI

#4733 Quick fix #4716
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator/ForwardTranslateGroundHeatExchangerHorizontalTrench.cpp
  src/energyplus/Test/GroundHeatExchangerHorizontalTrench_GTest.cpp
Labels: severity - Minor Bug, component - HVAC, component - IDF Translation, Pull Request - Ready for CI
