Repository NREL/OpenStudio, pull requests merged in 2023-06, with the labels that each got.

#4864 AirLoopHVACUnitarySystem FT fixes
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVACUnitarySystem.cpp
  src/energyplus/Test/AirLoopHVACUnitarySystem_GTest.cpp
Labels: component - HVAC, component - IDF Translation, Pull Request - Ready for CI

#4892 Add surface method for `SurfacePropertyExposedFoundationPerimeter`
  src/energyplus/ForwardTranslator/ForwardTranslateSurfacePropertyExposedFoundationPerimeter.cpp
  src/model/SurfacePropertyExposedFoundationPerimeter.cpp
  src/model/SurfacePropertyExposedFoundationPerimeter.hpp
  src/model/SurfacePropertyExposedFoundationPerimeter_Impl.hpp
  src/model/test/SurfacePropertyExposedFoundationPerimeter_GTest.cpp
Labels: Enhancement Request, component - Model, Pull Request - Ready for CI

#4902 Fix #4737 - Replace sprintf usage with fmt::format
  src/airflow/contam/ForwardTranslator.cpp
Labels: Developer Issue, Pull Request - Ready for CI, component - Airflow Network

#4866 Fix compiler warning treated as error
  src/energyplus/ForwardTranslator/ForwardTranslateScheduleFixedInterval.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateScheduleVariableInterval.cpp
Labels: Pull Request - Ready for CI

#4843 Fix #4837 - Geometry improvements - Detect incorrectly oriented surfaces in spaces, non convex spaces
  resources/CMakeLists.txt
  resources/model/4837_SpaceVolume.osm
  src/model/PlanarSurface.cpp
  src/model/PlanarSurface.hpp
  src/model/PlanarSurface_Impl.hpp
  src/model/Space.cpp
  src/model/Space.hpp
  src/model/Space_Impl.hpp
  src/model/ThreeJSForwardTranslator.cpp
  src/model/ThreeJSForwardTranslator.hpp
  src/model/test/Space_GTest.cpp
  src/model/test/ThreeJSForwardTranslator_GTest.cpp
  src/utilities/CMakeLists.txt
  src/utilities/data/Vector.hpp
  src/utilities/geometry/BoundingBox.cpp
  src/utilities/geometry/BoundingBox.hpp
  src/utilities/geometry/EulerAngles.cpp
  src/utilities/geometry/EulerAngles.hpp
  src/utilities/geometry/Geometry.cpp
  src/utilities/geometry/Geometry.i
  src/utilities/geometry/Plane.cpp
  src/utilities/geometry/Plane.hpp
  src/utilities/geometry/Point3d.cpp
  src/utilities/geometry/Point3d.hpp
  src/utilities/geometry/PointLatLon.cpp
  src/utilities/geometry/PointLatLon.hpp
  src/utilities/geometry/Polygon3d.cpp
  src/utilities/geometry/Polygon3d.hpp
  src/utilities/geometry/Polyhedron.cpp
  src/utilities/geometry/Polyhedron.hpp
  src/utilities/geometry/StandardShapes.cpp
  src/utilities/geometry/StandardShapes.hpp
  src/utilities/geometry/Test/Plane_GTest.cpp
  src/utilities/geometry/Test/Polyhedron_GTest.cpp
  src/utilities/geometry/ThreeJS.cpp
  src/utilities/geometry/ThreeJS.hpp
  src/utilities/geometry/Transformation.cpp
  src/utilities/geometry/Transformation.hpp
  src/utilities/geometry/Vector3d.cpp
  src/utilities/geometry/Vector3d.hpp
Labels: component - Utilities Geometry, component - Model, Pull Request - Ready for CI

#4875 Fix #3831 - New (labs) CLI command for `measure new` and `measure copy`
  src/cli/MeasureUpdateCommand.cpp
  src/cli/MeasureUpdateCommand.hpp
Labels: component - Measures, component - CLI, component - Workflow, Pull Request - Ready for CI

#4914 Fix #4911 - Avoid extra warning message in ShadingControl
  src/model/ShadingControl.cpp
Labels: component - Model, Pull Request - Ready for CI

#4900 Fix #4897 - openstudiolib.dll/libopenstudiolib.so not found without C++ API Component selected in IFW
  src/lib/CMakeLists.txt
Labels: severity - Normal Bug, component - Installer/Platform, Pull Request - Ready for CI

#4917 Add a swig out typemap for Json::Value + openstudio::path typemap in/out for Python + add toJSON() for Workfow files and BCLMeasure
  ruby/test/epJSON_Test.rb
  src/epjson/epJSON.i
  src/utilities/CMakeLists.txt
  src/utilities/bcl/BCLFileReference.cpp
  src/utilities/bcl/BCLFileReference.hpp
  src/utilities/bcl/BCLMeasure.cpp
  src/utilities/bcl/BCLMeasure.hpp
  src/utilities/bcl/BCLMeasureArgument.cpp
  src/utilities/bcl/BCLMeasureArgument.hpp
  src/utilities/bcl/BCLMeasureOutput.cpp
  src/utilities/bcl/BCLMeasureOutput.hpp
  src/utilities/bcl/BCLXML.cpp
  src/utilities/bcl/BCLXML.hpp
  src/utilities/bcl/LocalBCL.i
  src/utilities/core/Core.i
  src/utilities/core/Path.i
  src/utilities/core/jsoncpp.i
  src/utilities/core/ruby/LanguageSpecific.i
  src/utilities/data/Attribute.cpp
  src/utilities/data/Attribute.hpp
  src/utilities/data/Attribute.i
  src/utilities/data/Attribute_Impl.hpp
  src/utilities/filetypes/ForwardTranslatorOptions.cpp
  src/utilities/filetypes/ForwardTranslatorOptions.hpp
  src/utilities/filetypes/ForwardTranslatorOptions_Impl.hpp
  src/utilities/filetypes/RunOptions.cpp
  src/utilities/filetypes/RunOptions.hpp
  src/utilities/filetypes/RunOptions_Impl.hpp
  src/utilities/filetypes/StandardsJSON.cpp
  src/utilities/filetypes/StandardsJSON.hpp
  src/utilities/filetypes/StandardsJSON_Impl.hpp
  src/utilities/filetypes/WorkflowJSON.cpp
  src/utilities/filetypes/WorkflowJSON.hpp
  src/utilities/filetypes/WorkflowJSON_Impl.hpp
  src/utilities/filetypes/WorkflowStep.cpp
  src/utilities/filetypes/WorkflowStep.hpp
  src/utilities/filetypes/WorkflowStepResult.cpp
  src/utilities/filetypes/WorkflowStepResult.hpp
  src/utilities/filetypes/WorkflowStepResult_Impl.hpp
  src/utilities/filetypes/WorkflowStep_Impl.hpp
  src/utilities/filetypes/test/WorkflowJSON_GTest.cpp
Labels: Pull Request - Ready for CI, component - Ruby bindings, component - Python bindings
