Repository NREL/OpenStudio, pull requests merged in 2023-09, with the labels that each got.

#4960 #4957 - Some copy constructors aren't declared in SWIG
  src/utilities/geometry/Geometry.i
  src/utilities/geometry/Plane.hpp
  src/utilities/geometry/Point3d.hpp
  src/utilities/geometry/Polygon3d.hpp
  src/utilities/geometry/Polyhedron.cpp
  src/utilities/geometry/Polyhedron.hpp
  src/utilities/geometry/Transformation.hpp
  src/utilities/geometry/Vector3d.hpp
Labels: Developer Issue, component - Utilities Geometry, Pull Request - Ready for CI

#4961 Fix issue in create_temporary_directory (affecting XMLValidator with schematron)
  src/utilities/core/FilesystemHelpers.cpp
Labels: component - Utilities Other, Pull Request - Ready for CI

#4959 Fix #4926 - WindowPropertyFrameAndDivider: "Outside Reveal Depth" not forward translated
  src/energyplus/ForwardTranslator/ForwardTranslateSubSurface.cpp
  src/energyplus/Test/WindowPropertyFrameAndDivider_GTest.cpp
Labels: severity - Minor Bug, component - IDF Translation, Pull Request - Ready for CI

#4951 LoadProfilePlant: new Fluid Type and Degree of SubCooling fields
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator/ForwardTranslateLoadProfilePlant.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateSubSurface.cpp
  src/energyplus/Test/LoadProfilePlant_GTest.cpp
  src/energyplus/Test/WindowPropertyFrameAndDivider_GTest.cpp
  src/model/LoadProfilePlant.cpp
  src/model/LoadProfilePlant.hpp
  src/model/LoadProfilePlant_Impl.hpp
  src/model/test/LoadProfilePlant_GTest.cpp
  src/utilities/core/FilesystemHelpers.cpp
  src/utilities/geometry/Geometry.i
  src/utilities/geometry/Plane.hpp
  src/utilities/geometry/Point3d.hpp
  src/utilities/geometry/Polygon3d.hpp
  src/utilities/geometry/Polyhedron.cpp
  src/utilities/geometry/Polyhedron.hpp
  src/utilities/geometry/Transformation.hpp
  src/utilities/geometry/Vector3d.hpp
  src/utilities/mainpage.hpp
Labels: Pull Request - Ready for CI, IDDChange

#4949 BoilerHotWater: new Off Cycle Parasitic Fuel Load field
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator/ForwardTranslateBoilerHotWater.cpp
  src/energyplus/Test/BoilerHotWater_GTest.cpp
  src/energyplus/Test/CoilCoolingWaterToAirHeatPumpVariableSpeedEquationFit_GTest.cpp
  src/energyplus/Test/WindowPropertyFrameAndDivider_GTest.cpp
  src/model/BoilerHotWater.cpp
  src/model/BoilerHotWater.hpp
  src/model/BoilerHotWater_Impl.hpp
  src/model/test/BoilerHotWater_GTest.cpp
  src/osversion/VersionTranslator.cpp
  src/osversion/test/3_7_0/test_vt_BoilerHotWater.osm
  src/osversion/test/3_7_0/test_vt_BoilerHotWater.rb
  src/osversion/test/VersionTranslator_GTest.cpp
Labels: Pull Request - Ready for CI, IDDChange

#4962 HeatPump:PlantLoop:EIR:*: new fields
  resources/energyplus/ProposedEnergy+.idd
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateHeatPumpPlantLoopEIRCooling.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateHeatPumpPlantLoopEIRHeating.cpp
  src/energyplus/Test/HeatPumpPlantLoopEIR_GTest.cpp
  src/model/HeatPumpPlantLoopEIRCooling.cpp
  src/model/HeatPumpPlantLoopEIRCooling.hpp
  src/model/HeatPumpPlantLoopEIRCooling_Impl.hpp
  src/model/HeatPumpPlantLoopEIRHeating.cpp
  src/model/HeatPumpPlantLoopEIRHeating.hpp
  src/model/HeatPumpPlantLoopEIRHeating_Impl.hpp
  src/model/test/HeatPumpPlantLoopEIRCooling_GTest.cpp
  src/model/test/HeatPumpPlantLoopEIRHeating_GTest.cpp
Labels: Pull Request - Ready for CI, IDDChange

#4968 V23.2.0-IOFreeze - Fuel Type enum changes (DistrictHeatingWater / DistrictHeatingSteam)
  resources/energyplus/ProposedEnergy+.idd
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateEnvironmentalImpactFactors.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateEnvironmentalImpactFactors.cpp
  src/energyplus/Test/EnvironmentalImpactFactors_GTest.cpp
  src/model/DistrictCooling.cpp
  src/model/DistrictHeating.cpp
  src/model/EnvironmentalImpactFactors.cpp
  src/model/EnvironmentalImpactFactors.hpp
  src/model/EnvironmentalImpactFactors_Impl.hpp
  src/model/ExteriorFuelEquipment.cpp
  src/model/ExteriorFuelEquipment.hpp
  src/model/ExteriorFuelEquipment_Impl.hpp
  src/model/MeterCustom.cpp
  src/model/MeterCustom.hpp
  src/model/MeterCustomDecrement.cpp
  src/model/MeterCustomDecrement.hpp
  src/model/MeterCustomDecrement_Impl.hpp
  src/model/MeterCustom_Impl.hpp
  src/model/OtherEquipment.cpp
  src/model/OtherEquipment.hpp
  src/model/OtherEquipment_Impl.hpp
  src/model/OutputMeter.cpp
  src/model/UtilityBill.cpp
  src/model/WaterHeaterMixed.cpp
  src/model/WaterHeaterMixed.hpp
  src/model/WaterHeaterMixed_Impl.hpp
  src/model/WaterHeaterStratified.cpp
  src/model/WaterHeaterStratified.hpp
  src/model/WaterHeaterStratified_Impl.hpp
  src/model/test/EnvironmentalImpactFactors_GTest.cpp
  src/osversion/VersionTranslator.cpp
  src/osversion/test/3_7_0/test_vt_FuelTypeRenames.osm
  src/osversion/test/3_7_0/test_vt_FuelTypeRenames.rb
  src/osversion/test/VersionTranslator_GTest.cpp
  src/utilities/data/DataEnums.hpp
Labels: component - Model, component - IDF Translation, Pull Request - Ready for CI

#4973 Improve OpenStudio's support for Python unitttest
  src/cli/UpdateCommand.cpp
Labels: Pull Request - Ready for CI, component - Python bindings

#4974 Fix #4969 - add `json_schemer` to embedded ruby gems
  CMakeLists.txt
  src/cli/test/test_embedded_ruby.rb
Labels: Pull Request - Ready for CI, component - Ruby bindings

#4970 Coil:Heating:*: on and off cycle name changes
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateCoilHeatingDesuperheater.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateCoilHeatingGas.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateCoilHeatingGasMultiStage.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateCoilHeatingGas.cpp
  src/model/CoilHeatingDesuperheater.cpp
  src/model/CoilHeatingDesuperheater.hpp
  src/model/CoilHeatingDesuperheater_Impl.hpp
  src/model/CoilHeatingGas.cpp
  src/model/CoilHeatingGas.hpp
  src/model/CoilHeatingGasMultiStage.cpp
  src/model/CoilHeatingGasMultiStage.hpp
  src/model/CoilHeatingGasMultiStageStageData.cpp
  src/model/CoilHeatingGasMultiStageStageData.hpp
  src/model/CoilHeatingGasMultiStageStageData_Impl.hpp
  src/model/CoilHeatingGasMultiStage_Impl.hpp
  src/model/CoilHeatingGas_Impl.hpp
  src/model/test/CoilHeatingDesuperheater_GTest.cpp
  src/model/test/CoilHeatingGasMultiStageStageData_GTest.cpp
  src/model/test/CoilHeatingGasMultiStage_GTest.cpp
  src/model/test/CoilHeatingGas_GTest.cpp
  src/osversion/VersionTranslator.cpp
  src/osversion/test/3_7_0/test_vt_Coils_Heating.osm
  src/osversion/test/3_7_0/test_vt_Coils_Heating.rb
  src/osversion/test/VersionTranslator_GTest.cpp
  src/sdd/MapHVAC.cpp
Labels: Pull Request - Ready for CI, IDDChange

#4948 ControllerOutdoorAir: new Economizer Operation Staging field
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateControllerOutdoorAir.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateControllerOutdoorAir.cpp
  src/model/ControllerOutdoorAir.cpp
  src/model/ControllerOutdoorAir.hpp
  src/model/ControllerOutdoorAir_Impl.hpp
  src/model/test/ControllerOutdoorAir_GTest.cpp
  src/osversion/VersionTranslator.cpp
  src/osversion/test/3_7_0/test_vt_ControllerOutdoorAir.osm
  src/osversion/test/3_7_0/test_vt_ControllerOutdoorAir.rb
  src/osversion/test/VersionTranslator_GTest.cpp
Labels: Pull Request - Ready for CI, IDDChange

#4950 Addresses #4946, allow TableLookup curves for Coil:*:WaterToAirHeatPump:EquationFit objects
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_7_0_TDB.md
  src/energyplus/ForwardTranslator/ForwardTranslateCoilCoolingWaterToAirHeatPumpEquationFit.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateCoilHeatingWaterToAirHeatPumpEquationFit.cpp
  src/model/CoilCoolingWaterToAirHeatPumpEquationFit.cpp
  src/model/CoilCoolingWaterToAirHeatPumpEquationFit.hpp
  src/model/CoilCoolingWaterToAirHeatPumpEquationFit_Impl.hpp
  src/model/CoilHeatingWaterToAirHeatPumpEquationFit.cpp
  src/model/CoilHeatingWaterToAirHeatPumpEquationFit.hpp
  src/model/CoilHeatingWaterToAirHeatPumpEquationFit_Impl.hpp
  src/model/test/TableLookup_GTest.cpp
  src/sdd/MapHVAC.cpp
Labels: Enhancement Request, component - Model, Pull Request - Ready for CI, APIChange

#4984 Fix #4978 - adjust definitions for boost 1.79 to work with modern clang/apple clang
  CMakeLists.txt
Labels: Developer Issue, Pull Request - Ready for CI

#4971 #4963 - AirLoopHVACUnitarySystem Default Supply Air Flow Rate Method When No Cooling or Heating is Required to None
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_7_0_TDB.md
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVACUnitarySystem.cpp
  src/model/AirLoopHVACUnitarySystem.cpp
  src/model/AirLoopHVACUnitarySystem.hpp
  src/model/AirLoopHVACUnitarySystem_Impl.hpp
  src/model/test/AirLoopHVACUnitarySystem_GTest.cpp
  src/osversion/VersionTranslator.cpp
  src/osversion/test/3_7_0/test_vt_UnitarySystem_SAFMethods.py
  src/osversion/test/3_7_0/test_vt_UnitarySystem_SAFMethods_CorrectCombos.osm
  src/osversion/test/3_7_0/test_vt_UnitarySystem_SAFMethods_IncorrectCombos.osm
  src/osversion/test/3_7_0/test_vt_UnitarySystem_SAFMethods_default.osm
  src/osversion/test/VersionTranslator_GTest.cpp
  src/utilities/core/ASCIIStrings.hpp
Labels: Developer Issue, component - HVAC, Pull Request - Ready for CI

#4985 BoilerHotWater: on cycle name change
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateBoilerHotWater.cpp
  src/energyplus/Test/BoilerHotWater_GTest.cpp
  src/model/BoilerHotWater.cpp
  src/model/BoilerHotWater.hpp
  src/model/BoilerHotWater_Impl.hpp
  src/model/test/BoilerHotWater_GTest.cpp
  src/osversion/VersionTranslator.cpp
  src/sdd/MapHVAC.cpp
Labels: Pull Request - Ready for CI

#4920 Fix #4885 - Rewrite MeasureManager in C++
  .gitignore
  python/engine/PythonEngine.cpp
  python/engine/PythonEngine.hpp
  resources/Examples/compact_osw/compact_python_then_ruby.osw
  resources/Examples/compact_osw/compact_ruby_then_python.osw
  ruby/bindings/InitRubyBindings.cpp
  ruby/engine/RubyEngine.cpp
  ruby/engine/RubyEngine.hpp
  ruby/interpreter/RubyEval.hpp
  src/cli/CMakeLists.txt
  src/cli/MeasureManager.cpp
  src/cli/MeasureManager.hpp
  src/cli/MeasureUpdateCommand.cpp
  src/cli/TestMeasureManager.ipynb
  src/cli/main.cpp
  src/cli/test/conftest.py
  src/cli/test/test_measure_manager.py
  src/measure/EnergyPlusMeasure.cpp
  src/measure/EnergyPlusMeasure.hpp
  src/measure/Measure.i
  src/measure/ModelMeasure.cpp
  src/measure/ModelMeasure.hpp
  src/measure/OSArgument.cpp
  src/measure/OSArgument.hpp
  src/measure/OSMeasure.cpp
  src/measure/OSMeasure.hpp
  src/measure/OSMeasureInfoGetter.cpp
  src/measure/OSMeasureInfoGetter.hpp
  src/measure/OSOutput.cpp
  src/measure/OSOutput.hpp
  src/measure/ReportingMeasure.cpp
  src/measure/ReportingMeasure.hpp
  src/scriptengine/ScriptEngine.hpp
  src/utilities/CMakeLists.txt
  src/utilities/bcl/BCLMeasure.cpp
  src/utilities/bcl/BCLXML.cpp
  src/utilities/core/Containers.hpp
  src/utilities/core/ThreadSafeDeque.hpp
  src/workflow/ApplyMeasure.cpp
Labels: component - CLI, Pull Request - Ready for CI, component - Ruby bindings, component - Python bindings

#4986 Fix #4975 - Build python bindings on windows for python 3.11
  .github/workflows/python_bindings.yml
Labels: component - Python bindings

#4988 Fix #4977 - Address regression tests failures
  src/osversion/VersionTranslator.cpp
  src/osversion/test/3_7_0/test_vt_HeatPumpPlantLoopEIR.osm
  src/osversion/test/3_7_0/test_vt_HeatPumpPlantLoopEIR.rb
  src/osversion/test/3_7_0/test_vt_LoadProfilePlant.osm
  src/osversion/test/3_7_0/test_vt_LoadProfilePlant.rb
  src/osversion/test/VersionTranslator_GTest.cpp
Labels: Developer Issue, component - Version Translator, Pull Request - Ready for CI
