Repository NREL/OpenStudio, pull requests merged in 2023-02, with the labels that each got.

#4725 Fuel query updates
  src/model/Facility.cpp
  src/model/Facility.hpp
  src/model/Facility_Impl.hpp
  src/utilities/sql/PreparedStatement.cpp
  src/utilities/sql/SqlFile.cpp
  src/utilities/sql/SqlFile.hpp
  src/utilities/sql/SqlFile_Impl.cpp
  src/utilities/sql/SqlFile_Impl.hpp
  src/utilities/sql/Test/SqlFileFixture.cpp
  src/utilities/sql/Test/SqlFileFixture.hpp
  src/utilities/sql/Test/SqlFile_GTest.cpp
Labels: Pull Request - Ready for CI

#4790 Fixes 4783: Triangulation issue in openstudio::subtract
  src/utilities/geometry/Intersection.cpp
  src/utilities/geometry/Intersection.hpp
  src/utilities/geometry/Test/Geometry_GTest.cpp
Labels: Pull Request - Ready for CI, component - Geometry Translator

#4782 Fix for containingHVACComponent
  src/model/CoilCoolingDXMultiSpeed.cpp
  src/model/CoilHeatingDXMultiSpeed.cpp
  src/model/test/AirLoopHVACUnitarySystem_GTest.cpp
Labels: severity - Normal Bug, component - Model, Pull Request - Ready for CI

#4740 Fix issues around ScheduleFixedInterval
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_6_0_TBD.md
  src/energyplus/ForwardTranslator/ForwardTranslateScheduleFixedInterval.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateScheduleVariableInterval.cpp
  src/energyplus/Test/ScheduleInterval_GTest.cpp
  src/model/ScheduleFixedInterval.cpp
  src/model/ScheduleFixedInterval.hpp
  src/model/ScheduleFixedInterval_Impl.hpp
  src/utilities/data/TimeSeries.cpp
  src/utilities/data/TimeSeries.hpp
Labels: severity - Minor Bug, component - Model, Pull Request - Ready for CI

#4795 Hotfix a conversion error in #4740
  src/model/ScheduleFixedInterval.cpp
Labels: Developer Issue, Pull Request - Ready for CI
