Repository NREL/OpenStudio, pull requests merged in 2023-08, with the labels that each got.

#4873 AirLoopHVACUnitarySystem set Method During XXX Operation
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_7_0_TDB.md
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVACUnitarySystem.cpp
  src/model/AirLoopHVACUnitarySystem.cpp
  src/model/AirLoopHVACUnitarySystem.hpp
  src/model/AirLoopHVACUnitarySystem_Impl.hpp
  src/model/test/AirLoopHVACUnitarySystem_GTest.cpp
Labels: severity - Minor Bug, component - HVAC, component - Model, Pull Request - Ready for CI

#4932 Support undisturbed ground temperature models on GroundHeatExchangerVertical
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_7_0_TDB.md
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator/ForwardTranslateGroundHeatExchangerVertical.cpp
  src/energyplus/Test/GroundHeatExchangerVertical_GTest.cpp
  src/model/GroundHeatExchangerVertical.cpp
  src/model/GroundHeatExchangerVertical.hpp
  src/model/GroundHeatExchangerVertical_Impl.hpp
  src/model/test/GroundHeatExchangerVertical_GTest.cpp
  src/osversion/VersionTranslator.cpp
  src/osversion/VersionTranslator.hpp
  src/osversion/test/3_7_0/test_vt_GroundHeatExchangerVertical.osm
  src/osversion/test/3_7_0/test_vt_GroundHeatExchangerVertical.rb
  src/osversion/test/VersionTranslator_GTest.cpp
Labels: Enhancement Request, component - Model, Pull Request - Ready for CI, IDDChange

#4933 Fix #4931 - Install C# OpenStudio.dll properly.
  CMakeLists.txt
  ProjectMacros.cmake
  csharp/CMakeLists.txt
  csharp/developer/OpenStudio/OpenStudio.csproj.in
  python/SetupPython.cmake
  src/utilities/core/CommonInclude.i
  src/utilities/core/csharp/LanguageSpecific.i
  src/utilities/core/jsoncpp.i
  src/utilities/filetypes/Filetypes.i
Labels: component - C#, Pull Request - Ready for CI

#4939 Shadowing introduced by mistake in #3973
  src/model/ScheduleRuleset.cpp
Labels: Developer Issue

#4923 Fix #4692 - Modify Model::load to use the VersionTranslator
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_7_0_TDB.md
  resources/CMakeLists.txt
  resources/model/empty361.osm
  resources/model/empty361/workflow.osw
  src/model/Model.cpp
  src/model/test/Model_GTest.cpp
Labels: component - Model, Pull Request - Ready for CI, APIChange

#4925 update allowed limits radiant changeover
  src/model/ScheduleTypeRegistry.cpp
Labels: component - Model, Pull Request - Ready for CI
