Repository NREL/OpenStudio, pull requests merged in 2023-11, with the labels that each got.

#4879 Schedule:File relative paths
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateScheduleFile.cpp
  src/energyplus/Test/ScheduleInterval_GTest.cpp
  src/model/ScheduleFile.cpp
  src/model/ScheduleFile.hpp
  src/model/ScheduleFile_Impl.hpp
  src/model/test/ScheduleInterval_GTest.cpp
Labels: Enhancement Request, Pull Request - Ready for CI, IDDChange

#5012 Bump to rc2
  CMakeLists.txt
Labels: Pull Request - Ready for CI

#5023 Fix #5018 - C++ CLI: Calling a non existing method in a measure ends up with a crash and stack trace
  python/engine/CMakeLists.txt
  python/engine/test/BadMeasure/measure.py
  python/engine/test/BadMeasure/measure.xml
  python/engine/test/PythonEngine_GTest.cpp
  python/engine/test/StackLevelTooDeepMeasure/measure.py
  python/engine/test/StackLevelTooDeepMeasure/measure.xml
  python/engine/test/WrongMethodMeasure/measure.py
  python/engine/test/WrongMethodMeasure/measure.xml
  ruby/engine/CMakeLists.txt
  ruby/engine/test/BadMeasure/measure.rb
  ruby/engine/test/BadMeasure/measure.xml
  ruby/engine/test/RubyEngine_GTest.cpp
  ruby/engine/test/StackLevelTooDeepMeasure/measure.rb
  ruby/engine/test/StackLevelTooDeepMeasure/measure.xml
  ruby/engine/test/WrongMethodMeasure/measure.rb
  ruby/engine/test/WrongMethodMeasure/measure.xml
  src/measure/Measure.i
Labels: component - Measures, component - CLI, Pull Request - Ready for CI, labs

#5028 C++ CLI: Create results.json and handle analysis.json (create objectives.json)
  resources/Examples/compact_osw/measures/Standard Reports/measure.rb
  resources/Examples/compact_osw/update_seb_model.rb
  resources/Examples/with_analysis/analysis.json
  resources/Examples/with_analysis/local/measures/FakeReport/measure.rb
  resources/Examples/with_analysis/local/measures/FakeReport/measure.xml
  resources/Examples/with_analysis/local/with_analysis.osw
  src/cli/CMakeLists.txt
  src/cli/test/test_with_analysis.py
  src/utilities/filetypes/RunOptions.cpp
  src/utilities/filetypes/RunOptions.hpp
  src/utilities/filetypes/RunOptions_Impl.hpp
  src/utilities/filetypes/test/WorkflowJSON_GTest.cpp
  src/workflow/ApplyMeasure.cpp
  src/workflow/CMakeLists.txt
  src/workflow/OSWorkflow.cpp
  src/workflow/OSWorkflow.hpp
  src/workflow/RunEnergyPlusMeasures.cpp
  src/workflow/RunOpenStudioMeasures.cpp
  src/workflow/RunReportingMeasures.cpp
  src/workflow/Util.cpp
  src/workflow/Util.hpp
  src/workflow/test/Util_GTest.cpp
Labels: component - Measures, component - CLI, Pull Request - Ready for CI, labs

#5035 Fix #5030 - C++ CLI: run.log is huge and missing the runner.registerWarning messages
  resources/CMakeLists.txt
  resources/workflow/measures/FakeReport/measure.rb
  resources/workflow/measures/FakeReport/measure.xml
  resources/workflow/measures/ModelMeasureRegistersError/measure.rb
  resources/workflow/measures/ModelMeasureRegistersError/measure.xml
  resources/workflow/measures/ReportingMeasureRegistersError/measure.rb
  resources/workflow/measures/ReportingMeasureRegistersError/measure.xml
  resources/workflow/measures/new_measure.sh
  resources/workflow/runner_errors/example_model.osm
  resources/workflow/runner_errors/modelmeasure.osw
  resources/workflow/runner_errors/reportingmeasure.osw
  resources/workflow/with_analysis/analysis.json
  resources/workflow/with_analysis/local/with_analysis.osw
  src/cli/CMakeLists.txt
  src/cli/test/test_runner_registers_error.py
  src/cli/test/test_with_analysis.py
  src/energyplus/ErrorFile.cpp
  src/measure/OSRunner.cpp
  src/measure/OSRunner.hpp
  src/workflow/ApplyMeasure.cpp
  src/workflow/OSWorkflow.cpp
  src/workflow/OSWorkflow.hpp
  src/workflow/RunCleanup.cpp
  src/workflow/RunEnergyPlus.cpp
  src/workflow/RunPostProcess.cpp
  src/workflow/Util.cpp
Labels: component - CLI, Pull Request - Ready for CI, labs

#5042 Fix #5037 - Adjust log formatters for workflow (stdout + run.log)
  src/cli/test/test_with_analysis.py
  src/utilities/core/LogSink.cpp
  src/utilities/core/LogSink.hpp
  src/utilities/core/LogSink_Impl.hpp
  src/utilities/core/Logger.cpp
  src/utilities/core/Logger.hpp
  src/utilities/core/Logger.i
  src/workflow/OSWorkflow.cpp
Labels: component - CLI, Pull Request - Ready for CI, labs

#5044 Add missing `add_result_measure_info` so that out.osw step result have the same info as before
  resources/workflow/output_test/in.osw
  src/cli/CMakeLists.txt
  src/cli/test/test_output_files.py
  src/cli/test/workflow_helpers.py
  src/workflow/ApplyMeasure.cpp
  src/workflow/Util.cpp
  src/workflow/Util.hpp
Labels: component - Workflow, Pull Request - Ready for CI, labs

#5049 CSharp Fixes for 3.7.0 release
  .github/workflows/buildCSharp.yml
  .github/workflows/clangformat.yml
  .github/workflows/dependabot_conan.yml
  .github/workflows/python_bindings.yml
  CMakeLists.txt
Labels: Developer Issue, component - C#
