Repository NREL/OpenStudio, pull requests merged in 2023-03, with the labels that each got.

#4810 Fixes CLI `--help` typo.
  src/cli/main.cpp
Labels: component - CLI

#4777 4766 different surface counts
  .github/workflows/cppcheck.yml
  resources/CMakeLists.txt
  resources/utilities/Geometry/floorplan_mcve.json
  resources/utilities/Geometry/issue-4203.json
  resources/utilities/Geometry/issue-4222.json
  resources/utilities/Geometry/issue-4237.json
  resources/utilities/Geometry/issue-4312.json
  resources/utilities/Geometry/issue-4313.json
  resources/utilities/Geometry/issue-4488.json
  resources/utilities/Geometry/issue-4670.json
  src/model/FloorspaceReverseTranslator.cpp
  src/model/FloorspaceReverseTranslator_Impl.hpp
  src/model/PlanarSurface.cpp
  src/model/Space.cpp
  src/model/Surface.cpp
  src/model/test/FloorspaceReverseTranslator_GTest.cpp
  src/model/test/ThreeJSReverseTranslator_GTest.cpp
  src/utilities/floorspace/FSModel.cpp
  src/utilities/floorspace/FSModel.hpp
  src/utilities/geometry/Intersection.cpp
  src/utilities/geometry/Point3d.cpp
  src/utilities/geometry/Point3d.hpp
  src/utilities/geometry/Test/Geometry_GTest.cpp
  src/utilities/geometry/Test/Intersection_GTest.cpp
Labels: severity - Minor Bug, Pull Request - Ready for CI, component - Geometry Translator

#4814 GenerateClass update: Rule of 5 for public hpp, const-correctness, automatic clang-format + automatic FT/RT tests
  developer/ruby/GenerateClass.rb
  developer/ruby/SubProjectClassGenerators/ModelClassGenerator.rb
  developer/ruby/SubProjectClassGenerators/SubProjectClassGenerator.rb
  developer/ruby/SubProjectClassGenerators/TranslatorGenerator.rb
Labels: Developer Issue, Ready for Merge

#4816 Fix #4815 - Adjust `ForwardTranslatorOptions::string()` for backward compat with openstudio-workflow-gem
  src/utilities/filetypes/ForwardTranslatorOptions.cpp
  src/utilities/filetypes/test/WorkflowJSON_GTest.cpp
Labels: severity - Major Bug, component - Workflow, Pull Request - Ready for CI

#4828 Fix #4786 - Space load-based actuator for spaces are named based on thermal zone name
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_6_0_TBD.md
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateEnergyManagementSystemActuator.cpp
  src/energyplus/Test/EMS_GTest.cpp
  src/model/EnergyManagementSystemActuator.cpp
  src/model/EnergyManagementSystemActuator.hpp
  src/model/EnergyManagementSystemActuator_Impl.hpp
  src/model/test/EnergyManagementSystemActuator_GTest.cpp
Labels: component - Model, component - IDF Translation, Pull Request - Ready for CI

#4805 adding fix and test for oas removal when doas is removed
  src/energyplus/Test/AirLoopHVACDedicatedOutdoorAirSystem_GTest.cpp
  src/model/AirLoopHVACDedicatedOutdoorAirSystem.cpp
  src/model/AirLoopHVACDedicatedOutdoorAirSystem_Impl.hpp
  src/model/test/AirLoopHVACDedicatedOutdoorAirSystem_GTest.cpp
Labels: Enhancement Request, component - Model, Pull Request - Ready for CI

#4819 Fix #4729 - Properly forward arguments for execute_ruby_script / execute_python_script and allowing omitting the command
  CMakeLists.txt
  ConanInstall.cmake
  src/airflow/Airflow.i
  src/airflow/CMakeLists.txt
  src/airflow/contam/ContamEnums.hpp
  src/airflow/contam/ForwardTranslator.hpp
  src/airflow/contam/PrjAirflowElements.cpp
  src/airflow/contam/PrjAirflowElements.hpp
  src/airflow/contam/PrjObjects.cpp
  src/airflow/contam/PrjObjects.hpp
  src/cli/CMakeLists.txt
  src/cli/MeasureUpdateCommand.cpp
  src/cli/UpdateCommand.cpp
  src/cli/main.cpp
  src/cli/openstudio.exe.manifest
  src/workflow/OSWorkflow.cpp
  src/workflow/RunEnergyPlus.cpp
Labels: component - CLI, component - Workflow, Pull Request - Ready for CI

#4796 Fix #4792 - autosized methods
  src/model/AirLoopHVAC.cpp
  src/model/AirLoopHVAC.hpp
  src/model/AirLoopHVAC_Impl.hpp
  src/model/AirTerminalSingleDuctVAVReheat.cpp
  src/model/CoilCoolingDXVariableSpeed.cpp
  src/model/CoilCoolingWater.cpp
  src/model/CoilCoolingWater.hpp
  src/model/CoilCoolingWaterToAirHeatPumpEquationFit.cpp
  src/model/CoilCoolingWaterToAirHeatPumpVariableSpeedEquationFit.cpp
  src/model/CoilCoolingWater_Impl.hpp
  src/model/CoilHeatingDXVariableSpeed.cpp
  src/model/CoilHeatingElectricMultiStageStageData.cpp
  src/model/CoilHeatingGas.cpp
  src/model/CoilHeatingGasMultiStageStageData.cpp
  src/model/CoilHeatingWaterToAirHeatPumpEquationFit.cpp
  src/model/CoilHeatingWaterToAirHeatPumpVariableSpeedEquationFit.cpp
  src/model/CoilPerformanceDXCooling.cpp
  src/model/CoilPerformanceDXCooling_Impl.hpp
  src/model/CoilWaterHeatingAirToWaterHeatPump.cpp
  src/model/FanComponentModel.cpp
  src/model/ModelObject.cpp
  src/model/ModelObject.hpp
  src/model/ModelObject_Impl.hpp
  src/model/ThermalZone.cpp
  src/model/ThermalZone.hpp
  src/model/ThermalZone_Impl.hpp
  src/model/ZoneHVACBaseboardConvectiveElectric.cpp
Labels: component - Model, Pull Request - Ready for CI

#4813 Fix #4802 - E+ 23.1.0: Wrap SolarCollectorPerformance:PhotovoltaicThermal:BIPVT
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_6_0_TBD.md
  resources/energyplus/ProposedEnergy+.idd
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateSolarCollectorFlatPlatePhotovoltaicThermal.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateSolarCollectorPerformancePhotovoltaicThermalBIPVT.cpp
  src/energyplus/ReverseTranslator.cpp
  src/energyplus/ReverseTranslator.hpp
  src/energyplus/ReverseTranslator/ReverseTranslateSolarCollectorPerformancePhotovoltaicThermalBIPVT.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateSurfacePropertyOtherSideConditionsModel.cpp
  src/energyplus/Test/SolarCollectorPerformancePhotovoltaicThermalBIPVT_GTest.cpp
  src/energyplus/Test/SurfacePropertyOtherSideConditionsModel_GTest.cpp
  src/model/CMakeLists.txt
  src/model/ConcreteModelObjects.hpp
  src/model/Model.cpp
  src/model/ModelHVAC.i
  src/model/ScheduleTypeRegistry.cpp
  src/model/SolarCollectorFlatPlatePhotovoltaicThermal.cpp
  src/model/SolarCollectorFlatPlatePhotovoltaicThermal.hpp
  src/model/SolarCollectorFlatPlatePhotovoltaicThermal_Impl.hpp
  src/model/SolarCollectorPerformancePhotovoltaicThermalBIPVT.cpp
  src/model/SolarCollectorPerformancePhotovoltaicThermalBIPVT.hpp
  src/model/SolarCollectorPerformancePhotovoltaicThermalBIPVT_Impl.hpp
  src/model/SolarCollectorPerformancePhotovoltaicThermalSimple.hpp
  src/model/SubSurface.cpp
  src/model/SubSurface.hpp
  src/model/SubSurface_Impl.hpp
  src/model/Surface.cpp
  src/model/Surface.hpp
  src/model/SurfacePropertyOtherSideConditionsModel.cpp
  src/model/Surface_Impl.hpp
  src/model/test/SolarCollectorFlatPlatePhotovoltaicThermal_GTest.cpp
  src/model/test/SolarCollectorPerformancePhotovoltaicThermalBIPVT_GTest.cpp
Labels: Enhancement Request, component - Model, component - IDF Translation, Pull Request - Ready for CI

#4808 Wrap OutputControl:Timestamp
  resources/energyplus/ProposedEnergy+.idd
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateOutputControlTimestamp.cpp
  src/energyplus/ReverseTranslator.cpp
  src/energyplus/ReverseTranslator.hpp
  src/energyplus/ReverseTranslator/ReverseTranslateOutputControlTimestamp.cpp
  src/energyplus/Test/OutputControlTimestamp_GTest.cpp
  src/model/CMakeLists.txt
  src/model/ConcreteModelObjects.hpp
  src/model/Model.cpp
  src/model/Model.hpp
  src/model/ModelSimulation.i
  src/model/Model_Impl.hpp
  src/model/OutputControlTimestamp.cpp
  src/model/OutputControlTimestamp.hpp
  src/model/OutputControlTimestamp_Impl.hpp
  src/model/test/OutputControlTimestamp_GTest.cpp
  src/model/test/UniqueModelObject_GTest.cpp
Labels: component - Model, Pull Request - Ready for CI

#4820 prepare for 22.04 support
  .github/workflows/python_bindings.yml
  CMakeLists.txt
  Jenkinsfile_develop_ubuntu_2204
  developer/doc/ReleaseNotes/OpenStudio_Release_Notes_3_6_0_TBD.md
Labels: Developer Issue, Pull Request - Ready for CI

#4829 Fix some failing tests
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateThermalZone.cpp
  src/energyplus/Test/EMS_GTest.cpp
  src/energyplus/Test/EnergyPlusFixture.cpp
  src/energyplus/Test/EnergyPlusFixture.hpp
Labels: Developer Issue, component - Testing, Pull Request - Ready for CI

#4832 Upgrade to E+ v23.1.0-RC1
  CMakeLists.txt
Labels: Developer Issue, Pull Request - Ready for CI

#4833 Update gems
  CMakeLists.txt
Labels: component - CLI, Pull Request - Ready for CI

#4835 Fix #4834 - CLI chops inner single quote inside argument since 3.5.1
  ruby/engine/openstudio_cli.rb
  src/cli/CMakeLists.txt
  src/cli/main.cpp
Labels: severity - Normal Bug, component - CLI, Pull Request - Ready for CI

#4836 [developer issue] Fix VersionTranslator use after move (in develop only)
  src/energyplus/ForwardTranslator/ForwardTranslatePlantLoop.cpp
  src/gltf/GltfUserData.cpp
  src/model/PlantEquipmentOperationRangeBasedScheme.cpp
  src/osversion/VersionTranslator.cpp
  src/utilities/idf/IdfFile.cpp
  src/utilities/idf/ImfFile.cpp
  src/utilities/idf/Workspace.cpp
Labels: Developer Issue, component - Version Translator, Pull Request - Ready for CI

#4839 [Pull Request - Ready for CI ]Conan need to be updated to supported for fmt/9.1.0 and cli11/2.3.2
  ConanInstall.cmake
Labels: Developer Issue, Pull Request - Ready for CI

#4845 Minor fix to a template sortByObjectName
  src/utilities/idf/IdfObject.hpp
Labels: Developer Issue
