Repository NREL/OpenStudio, pull requests merged in 2024-12, with the labels that each got.

#5305 #5226 - Remove SpaceAndSpaceGroupNames from Building
  resources/model/OpenStudio.idd
  src/model/test/Model_GTest.cpp
Labels: Pull Request - Ready for CI, IDDChange

#5324 Updated the new md5 for the shebang radiance.
  CMakeLists.txt
Labels: Pull Request - Ready for CI, dependencies

#5318 Parse Ground Temperatures in EpwFile
  src/utilities/filetypes/EpwFile.cpp
  src/utilities/filetypes/EpwFile.hpp
  src/utilities/filetypes/Filetypes.i
  src/utilities/filetypes/test/EpwFile_GTest.cpp
Labels: Enhancement Request, Pull Request - Ready for CI

#5320 #5319 - gbXML Reverse Translator - Scan for the gbxml Schema version: skip schema validation with a warning when not 7.03
  src/gbxml/ReverseTranslator.cpp
  src/utilities/xml/XMLValidator.cpp
  src/utilities/xml/XMLValidator.hpp
Labels: component - gbXML, Pull Request - Ready for CI

#5312 Wrap PythonPlugin:SearchPaths
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslatePythonPluginSearchPaths.cpp
  src/energyplus/Test/PythonPluginSearchPaths_GTest.cpp
  src/model/CMakeLists.txt
  src/model/ConcreteModelObjects.hpp
  src/model/Model.cpp
  src/model/Model.hpp
  src/model/ModelCore.i
  src/model/ModelResources.i
  src/model/ModelSimulation.i
  src/model/Model_Impl.hpp
  src/model/PythonPluginSearchPaths.cpp
  src/model/PythonPluginSearchPaths.hpp
  src/model/PythonPluginSearchPaths_Impl.hpp
  src/model/test/Model_GTest.cpp
  src/model/test/PythonPluginSearchPaths_GTest.cpp
  src/model/test/UniqueModelObject_GTest.cpp
Labels: Enhancement Request, component - Model, Pull Request - Ready for CI

#5321 Fix #5314 - Add Tank Element Control Logic field to WaterHeaterHeatPump
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateWaterHeaterHeatPump.cpp
  src/model/WaterHeaterHeatPump.cpp
  src/model/WaterHeaterHeatPump.hpp
  src/model/WaterHeaterHeatPumpWrappedCondenser.cpp
  src/model/WaterHeaterHeatPump_Impl.hpp
  src/model/test/WaterHeaterHeatPump_GTest.cpp
  src/osversion/VersionTranslator.cpp
  src/osversion/VersionTranslator.hpp
  src/osversion/test/3_9_1/test_vt_WaterHeaterHeatPump.osm
  src/osversion/test/3_9_1/test_vt_WaterHeaterHeatPump.rb
  src/osversion/test/VersionTranslator_GTest.cpp
Labels: component - Model, component - IDF Translation, component - Version Translator, Pull Request - Ready for CI, IDDChange

#5316 Fix #5315 - OpenStudio CLI unable to require uuid in OpenStudio 3.9 (thereby breaking dependencies like openstudio-extension)
  python/module/openstudio.py
  ruby/engine/embedded_help.rb
  src/cli/CMakeLists.txt
  src/cli/test/ensure_uuid_can_be_loaded.rb
Labels: component - CLI, Pull Request - Ready for CI, component - Ruby bindings

#5325 Wrap GroundHeatExchangerVertical "Depth of Top of Borehole" field
  resources/model/OpenStudio.idd
  src/energyplus/ForwardTranslator/ForwardTranslateGroundHeatExchangerVertical.cpp
  src/energyplus/Test/GroundHeatExchangerVertical_GTest.cpp
  src/model/GroundHeatExchangerVertical.cpp
  src/model/GroundHeatExchangerVertical.hpp
  src/model/GroundHeatExchangerVertical_Impl.hpp
  src/model/test/GroundHeatExchangerVertical_GTest.cpp
  src/osversion/VersionTranslator.cpp
  src/osversion/test/3_9_1/test_vt_GroundHeatExchangerVertical.osm
  src/osversion/test/3_9_1/test_vt_GroundHeatExchangerVertical.rb
  src/osversion/test/VersionTranslator_GTest.cpp
Labels: Enhancement Request, component - Model, Pull Request - Ready for CI, IDDChange

#5333 Fix #5248 - Typo in Schematron extension: .sch, not .sct!
  src/utilities/xml/XMLValidator.cpp
  src/utilities/xml/XMLValidator.hpp
Labels: component - Utilities Other, Pull Request - Ready for CI
