Repository NREL/OpenStudio, pull requests merged in 2024-10, with the labels that each got.

#5263 V24.2.0 official tweaks
  CMakeLists.txt
  conanfile.py
  python/SetupPython.cmake
  python/engine/PythonEngine.cpp
  python/engine/test/PythonEngine_GTest.cpp
  python/requirements.txt
  src/cli/CMakeLists.txt
  src/energyplus/Test/AirConditionerVariableRefrigerantFlowFluidTemperatureControlHR_GTest.cpp
  src/energyplus/Test/AirConditionerVariableRefrigerantFlowFluidTemperatureControl_GTest.cpp
  src/model/FanVariableVolume.cpp
  src/model/FanVariableVolume.hpp
  src/model/FanVariableVolume_Impl.hpp
  src/model/ZoneHVACTerminalUnitVariableRefrigerantFlow.cpp
  src/model/test/ZoneHVACTerminalUnitVariableRefrigerantFlow_GTest.cpp
  src/osversion/VersionTranslator.cpp
Labels: Developer Issue, Pull Request - Ready for CI

#5268 V24.2.0-IOFreeze: AirTerminalSingleDuctXXXPIUReheat's new fields, follow-up
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/Test/AirTerminalSingleDuctParallelPIUReheat_GTest.cpp
  src/energyplus/Test/AirTerminalSingleDuctSeriesPIUReheat_GTest.cpp
  src/model/AirTerminalSingleDuctParallelPIUReheat.cpp
  src/model/AirTerminalSingleDuctParallelPIUReheat.hpp
  src/model/AirTerminalSingleDuctParallelPIUReheat_Impl.hpp
  src/model/AirTerminalSingleDuctSeriesPIUReheat.cpp
  src/model/AirTerminalSingleDuctSeriesPIUReheat.hpp
  src/model/AirTerminalSingleDuctSeriesPIUReheat_Impl.hpp
  src/model/test/AirTerminalSingleDuctParallelPIUReheat_GTest.cpp
  src/model/test/AirTerminalSingleDuctSeriesPIUReheat_GTest.cpp
Labels: Pull Request - Ready for CI, IDDChange

#5266 Make pip install run only once instead of everytime CMake reconfigures
  CMake/FindEnergyPlus.cmake
  CMakeLists.txt
  python/SetupPython.cmake
  python/engine/CMakeLists.txt
Labels: Developer Issue, Pull Request - Ready for CI, component - Python bindings

#5267 Update to E+ v24.2.0a
  CMakeLists.txt
Labels: Pull Request - Ready for CI

#5236 Add Utility for Generating Alfalfa Metadata to OpenStudio
  CMake/RunCommands.cmake
  CMakeLists.txt
  python/engine/test/AlfalfaMeasure/measure.py
  python/engine/test/AlfalfaMeasure/measure.xml
  python/engine/test/PythonEngine_GTest.cpp
  python/module/openstudio.py
  resources/Examples/compact_osw/compact_alfalfa.osw
  resources/Examples/compact_osw/measures/AlfalfaEPlusPython/measure.py
  resources/Examples/compact_osw/measures/AlfalfaEPlusPython/measure.xml
  resources/Examples/compact_osw/measures/AlfalfaEPlusRuby/measure.rb
  resources/Examples/compact_osw/measures/AlfalfaEPlusRuby/measure.xml
  resources/Examples/compact_osw/measures/AlfalfaModelPython/measure.py
  resources/Examples/compact_osw/measures/AlfalfaModelPython/measure.xml
  resources/Examples/compact_osw/measures/AlfalfaModelRuby/measure.rb
  resources/Examples/compact_osw/measures/AlfalfaModelRuby/measure.xml
  ruby/bindings/InitRubyBindings.cpp
  ruby/module/CMakeLists.txt
  src/alfalfa/Alfalfa.i
  src/alfalfa/AlfalfaAPI.hpp
  src/alfalfa/AlfalfaActuator.cpp
  src/alfalfa/AlfalfaActuator.hpp
  src/alfalfa/AlfalfaComponent.cpp
  src/alfalfa/AlfalfaComponent.hpp
  src/alfalfa/AlfalfaConstant.cpp
  src/alfalfa/AlfalfaConstant.hpp
  src/alfalfa/AlfalfaGlobalVariable.cpp
  src/alfalfa/AlfalfaGlobalVariable.hpp
  src/alfalfa/AlfalfaJSON.cpp
  src/alfalfa/AlfalfaJSON.hpp
  src/alfalfa/AlfalfaJSON_Impl.hpp
  src/alfalfa/AlfalfaMeter.cpp
  src/alfalfa/AlfalfaMeter.hpp
  src/alfalfa/AlfalfaOutputVariable.cpp
  src/alfalfa/AlfalfaOutputVariable.hpp
  src/alfalfa/AlfalfaPoint.cpp
  src/alfalfa/AlfalfaPoint.hpp
  src/alfalfa/AlfalfaPoint_Impl.hpp
  src/alfalfa/CMakeLists.txt
  src/alfalfa/ComponentBase.cpp
  src/alfalfa/ComponentBase.hpp
  src/alfalfa/test/AlfalfaJSON_GTest.cpp
  src/cli/CMakeLists.txt
  src/lib/CMakeLists.txt
  src/measure/CMakeLists.txt
  src/measure/Measure.i
  src/measure/OSRunner.cpp
  src/measure/OSRunner.hpp
  src/workflow/RunPostProcess.cpp
Labels: Pull Request - Ready for CI, component - Ruby bindings, component - Python bindings

#5217 Addresses #5214, EpwFile getTimeSeries fails for leap year weather file w/no leap day
  resources/CMakeLists.txt
  resources/utilities/Filetypes/USA_CO_Golden-NREL.724666_TMY3-leapday.epw
  resources/utilities/Filetypes/USA_CO_Golden-NREL.724666_TMY3-noleapday.epw
  resources/utilities/Filetypes/leapday-test-noleapday.epw
  src/utilities/filetypes/EpwFile.cpp
  src/utilities/filetypes/test/EpwFile_GTest.cpp
Labels: component - Utilities Other, Pull Request - Ready for CI

#5252 Remove AVM for AirLoopHVACOutdoorAirSystem
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVACOutdoorAirSystem.cpp
Labels: component - IDF Translation, Pull Request - Ready for CI

#5278 Fix AirLoopHVACUnitarySystem FT issues with UnitarySystemPerformanceMultispeed
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVACUnitarySystem.cpp
  src/energyplus/Test/UnitarySystemPerformanceMultispeed_GTest.cpp
Labels: severity - Normal Bug, component - IDF Translation, Pull Request - Ready for CI

#5275 Fix #5274 - workflow should not remove contents from zip because of size limit
  src/workflow/Util.cpp
Labels: severity - Major Bug, Enhancement Request, component - Workflow, Pull Request - Ready for CI

#5224 Fix #5223 - update conan ruby to relax MSC_VER restriction
  conan.lock
Labels: Developer Issue, Pull Request - Ready for CI, component - Ruby bindings, component - Conan
