Repository NREL/OpenStudio, pull requests merged in 2024-05, with the labels that each got.

#5177 Delete all GEM/BUNDLE vars
  ruby/bindings/InitRubyBindings.cpp
Labels: component - CLI, component - Ruby bindings

#5176 Fix OSArgument::defaultValueAsJSON()
  src/measure/OSArgument.cpp
  src/measure/OSRunner.cpp
Labels: component - Measures, Pull Request - Ready for CI

#5180 Add the arm64 openstudio3 gems after building it manually and uploading to github
  CMakeLists.txt
Labels: Developer Issue

#5179 Fix #5178 - Init the RUBY_DESCRIPTION properly
  ruby/engine/InitRubyEngine.cpp
  ruby/test/Constants_Test.rb
  src/model/DesignDay.cpp
Labels: component - CLI, Pull Request - Ready for CI, component - Ruby bindings

#5160 Fix compiler issues
  CMakeLists.txt
  src/workflow/CMakeLists.txt
Labels: Developer Issue, Pull Request - Ready for CI

#5166 Fix #5162 - Capture `exit` from Ruby
  python/engine/PythonEngine.cpp
  python/engine/PythonEngine.hpp
  ruby/engine/RubyEngine.cpp
  ruby/engine/RubyEngine.hpp
  ruby/test/CMakeLists.txt
  src/cli/CMakeLists.txt
  src/cli/UpdateCommand.cpp
  src/cli/main.cpp
  src/cli/test/at_exit.rb
  src/cli/test/minitest_fail.rb
  src/cli/test/minitest_ok.rb
  src/cli/test/run_minitest_fail.py
  src/scriptengine/ScriptEngine.hpp
Labels: component - CLI, Pull Request - Ready for CI, component - Ruby bindings

#5169 Fix #5164 - Unless --show-stdout, do not print any ExpandObjects / EnergyPlus messages
  src/cli/main.cpp
  src/utilities/xml/XMLValidator.cpp
  src/workflow/RunEnergyPlus.cpp
Labels: Enhancement Request, component - CLI, component - Workflow, Pull Request - Ready for CI

#5172 Swig `T boost::optional<T>::value_or(T default_value)`
  python/test/test_usability.py
  ruby/test/Optional_Test.rb
  src/utilities/core/CommonImport.i
Labels: Pull Request - Ready for CI, component - Ruby bindings, component - Python bindings

#5182 Fix #5181 - when using --bundle in the CLI, use Embedded native gems when they are present and version compatible
  ruby/bindings/InitRubyBindings.cpp
  src/cli/test/bundle_native_embedded/Gemfile
  src/cli/test/bundle_native_embedded/test.rb
  src/cli/test/test_bundle.rb
Labels: component - CLI, Pull Request - Ready for CI, component - Ruby bindings

#5187 Hotfix #5059
  src/model/CoilCoolingDXSingleSpeedThermalStorage.cpp
Labels: component - Model, Pull Request - Ready for CI

#5193 #5145 - HeatExchangerAirToAirSensibleAndLatent normalization divisor error
  src/model/HeatExchangerAirToAirSensibleAndLatent.cpp
  src/model/TableLookup.cpp
  src/model/TableLookup.hpp
  src/model/TableLookup_Impl.hpp
  src/model/test/HeatExchangerAirToAirSensibleAndLatent_GTest.cpp
  src/model/test/TableLookup_GTest.cpp
Labels: component - Model, Pull Request - Ready for CI

#5195 Fix failing tests on develop
  src/model/test/ZoneHVACEquipmentList_GTest.cpp
  src/utilities/idf/Test/WorkspaceObject_GTest.cpp
Labels: Developer Issue, Pull Request - Ready for CI

#5197 Fix #5196 - valueAsJSON does not respect type
  python/test/test_swigjson.py
  ruby/test/SwigJson_Test.rb
  src/measure/test/OSArgument_GTest.cpp
  src/utilities/core/jsoncpp.i
Labels: Pull Request - Ready for CI

#5194 #5192 - Fix runner.getPastStepValuesForMeasure can cause segfault
  python/test/test_swigjson.py
  ruby/test/SwigJson_Test.rb
  src/utilities/core/jsoncpp.i
Labels: component - CLI, Pull Request - Ready for CI, component - Ruby bindings

#5191 Remove system paths from default gem path
  ruby/bindings/InitRubyBindings.cpp
Labels: Pull Request - Ready for CI

#5199 Fix up uninitialized optional in getPastStepValuesForMeasure
  src/measure/OSRunner.cpp
  src/measure/test/OSRunner_GTest.cpp
Labels: component - Measures, Pull Request - Ready for CI

#5198 Bump os-gems align with dependencies updated.
  CMakeLists.txt
Labels: Pull Request - Ready for CI

#5205 Modernize bundle test
  ruby/test/CMakeLists.txt
  src/cli/test/test_bundle.rb
Labels: Developer Issue, Pull Request - Ready for CI

#5204 Pin regexp_parser to 2.9.0
  CMakeLists.txt
  ruby/bindings/InitRubyBindings.cpp
  src/cli/UpdateCommand.cpp
  src/cli/test/bundle_git/Gemfile
  src/cli/test/bundle_native_embedded/Gemfile
Labels: component - CLI, Pull Request - Ready for CI, component - Ruby bindings

#5206 bump the build for release
  CMakeLists.txt
Labels: Pull Request - Ready for CI

#5210 Update Python bindings workflow for conan v2 (+ add py312 for windows, and macOS arm64)
  .github/workflows/python_bindings.yml
  conanfile.py
  python/module/setup.py
Labels: Developer Issue, component - Python bindings

#5211 CSharp - Update for conan V2 and build for 3.8.0 (+ add arm64)
  .github/workflows/buildCSharp.yml
  .github/workflows/python_bindings.yml
  CMakeLists.txt
  conan.lock
  conanfile.py
  csharp/OpenStudio-osx-arm64.targets
  csharp/developer/OpenStudio/OpenStudio.csproj.in
  src/measure/Measure.i
  src/utilities/core/jsoncpp.i
Labels: Developer Issue, component - C#

#5213 Addresses #5208, OS 3.8 broke json-schema validation
  ruby/bindings/InitRubyBindings.cpp
Labels: component - CLI, Pull Request - Ready for CI, component - Ruby bindings
