Repository NREL/OpenStudio, pull requests merged in 2025-05, with the labels that each got.

#5404 #5350 - Changes to Support CoilSystem:Cooling:Water
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVAC.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateCoilSystemCoolingWater.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateCoilSystemCoolingWaterHeatExchangerAssisted.cpp
  src/energyplus/Test/CoilSystemCoolingWater_GTest.cpp
  src/model/CoilCoolingWater.cpp
  src/model/CoilSystemCoolingWater.cpp
  src/model/CoilSystemCoolingWater.hpp
  src/model/CoilSystemCoolingWaterHeatExchangerAssisted.cpp
  src/model/CoilSystemCoolingWaterHeatExchangerAssisted_Impl.hpp
  src/model/CoilSystemCoolingWater_Impl.hpp
  src/model/test/CoilSystemCoolingWaterHeatExchangerAssisted_GTest.cpp
  src/model/test/CoilSystemCoolingWater_GTest.cpp
Labels: Developer Issue, component - Model, component - IDF Translation

#5350 Support CoilSystem:Cooling:Water
  resources/model/OpenStudio.idd
  src/energyplus/CMakeLists.txt
  src/energyplus/ForwardTranslator.cpp
  src/energyplus/ForwardTranslator.hpp
  src/energyplus/ForwardTranslator/ForwardTranslateAirLoopHVAC.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateCoilSystemCoolingWater.cpp
  src/energyplus/ForwardTranslator/ForwardTranslateCoilSystemCoolingWaterHeatExchangerAssisted.cpp
  src/energyplus/ForwardTranslator/ForwardTranslatePlantEquipmentOperationSchemes.cpp
  src/energyplus/Test/CoilCoolingWater_GTest.cpp
  src/energyplus/Test/CoilSystemCoolingWaterHeatExchangerAssisted_GTest.cpp
  src/energyplus/Test/CoilSystemCoolingWater_GTest.cpp
  src/model/CMakeLists.txt
  src/model/CoilCoolingWater.cpp
  src/model/CoilSystemCoolingWater.cpp
  src/model/CoilSystemCoolingWater.hpp
  src/model/CoilSystemCoolingWaterHeatExchangerAssisted.cpp
  src/model/CoilSystemCoolingWaterHeatExchangerAssisted_Impl.hpp
  src/model/CoilSystemCoolingWater_Impl.hpp
  src/model/ConcreteModelObjects.hpp
  src/model/ControllerWaterCoil.hpp
  src/model/Model.cpp
  src/model/ModelStraightComponent.i
  src/model/ScheduleTypeRegistry.cpp
  src/model/test/CoilSystemCoolingWaterHeatExchangerAssisted_GTest.cpp
  src/model/test/CoilSystemCoolingWater_GTest.cpp
Labels: Enhancement Request, component - Model, component - IDF Translation, Pull Request - Ready for CI

#5304 Measure manager fixups and improvements
  python/SetupPython.cmake
  ruby/engine/measure_manager_server.rb
  src/cli/CMakeLists.txt
  src/cli/MeasureManager.cpp
  src/cli/MeasureManager.hpp
  src/cli/test/conftest.py
  src/cli/test/test_measure_manager.py
Labels: component - CLI, component - Measure Manager, Pull Request - Ready for CI

#5413 Fix #5412 - Deal with ASHRAETau2017
  src/energyplus/ForwardTranslator/ForwardTranslateDesignDay.cpp
  src/energyplus/ReverseTranslator/ReverseTranslateSizingPeriodDesignDay.cpp
Labels: severity - Normal Bug, component - IDF Translation, Pull Request - Ready for CI

#5415 Fix bundle bundle test + set PRERELEASE tag to rc1
  CMakeLists.txt
  src/cli/test/bundle/Gemfile
Labels: Developer Issue, Pull Request - Ready for CI
